In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bokeh.plotting import figure
from bokeh.io import output_file, show, save
import pandas
from bokeh.models import DataRange1d, PanTool, ResetTool, WheelZoomTool, HoverTool, LassoSelectTool, BoxSelectTool, SaveTool, Legend

In [2]:
import os
print(os.getcwd())
os.chdir("../../")
os.chdir("helpfiles")
print(os.getcwd())
    
from select_df import select_df
from functies_voor_selectief_plotten import *

C:\Users\Midas\Documents\GitHub\DataProcessing1\plot code\Compare data
C:\Users\Midas\Documents\GitHub\DataProcessing1\helpfiles
C:\Users\Midas\Documents\GitHub\DataProcessing1\helpfiles
Succesfully imported foodprices!
Succesfully imported migration_movements!
succesfully imported temperature_and_precipitation!

In [3]:
foodprices = select_df(1,'foodprices')
migration_movements = select_df(1,'migration_movements')
temperature_and_precipitation = select_df(1,'temperature_and_precipitation')

Succesfully imported foodprices!
Succesfully imported migration_movements!
succesfully imported temperature_and_precipitation!

In [5]:
set_country = 'Gambia'
dataset1 = 'foodprices'
dataset2 = 'migration_movements'

set_product = 'Maize (local)'

set_year1 = 1999
set_year2 = 2017


#migration_movements
#select_plot_migration_movements1(migration_movements, set_country, set_year1, set_year2)

# normalize(select_plot_foodprices_average(foodprices,set_country, set_product, set_year1, set_year2), 'average_price')

      Origin    Timestamp  Value
52    Gambia  1999.083333     26
82    Gambia  1999.166667     38
116   Gambia  1999.250000     31
150   Gambia  1999.333333     25
184   Gambia  1999.416667     40
233   Gambia  1999.500000     34
253   Gambia  1999.583333     24
280   Gambia  1999.666667     40
332   Gambia  1999.750000     43
359   Gambia  1999.833333     53
393   Gambia  1999.916667     60
419   Gambia  2000.000000     47
467   Gambia  2000.083333     49
505   Gambia  2000.166667     57
530   Gambia  2000.250000     42
565   Gambia  2000.333333     38
594   Gambia  2000.416667     53
631   Gambia  2000.500000     65
677   Gambia  2000.583333     82
687   Gambia  2000.666667     83
735   Gambia  2000.750000     67
769   Gambia  2000.833333     43
797   Gambia  2000.916667     47
834   Gambia  2001.000000     55
857   Gambia  2001.083333     49
888   Gambia  2001.166667     51
929   Gambia  2001.250000     55
985   Gambia  2001.333333     95
1005  Gambia  2001.416667     86
1051  Gambia  2001.500000     68
...      ...          ...    ...
6380  Gambia  2014.583333   2233
6410  Gambia  2014.666667   2650
6432  Gambia  2014.750000   2418
6467  Gambia  2014.833333   2278
6505  Gambia  2014.916667   2354
6547  Gambia  2015.000000   2222
6595  Gambia  2015.083333   2193
6615  Gambia  2015.166667   1949
6641  Gambia  2015.250000   1821
6691  Gambia  2015.333333   2023
6713  Gambia  2015.416667   2274
6755  Gambia  2015.500000   2466
6776  Gambia  2015.583333   2503
6816  Gambia  2015.666667   2715
6859  Gambia  2015.750000   2431
6875  Gambia  2015.833333   1665
6916  Gambia  2015.916667   1682
6959  Gambia  2016.000000   2098
6996  Gambia  2016.083333   2388
7036  Gambia  2016.166667   2635
7064  Gambia  2016.250000   2708
7091  Gambia  2016.333333   2956
7118  Gambia  2016.416667   3594
7164  Gambia  2016.500000   3543
7194  Gambia  2016.583333   2940
7226  Gambia  2016.666667   2556
7272  Gambia  2016.750000   2690
7293  Gambia  2016.833333   2775
7315  Gambia  2016.916667   2573
7361  Gambia  2017.000000   2698

[224 rows x 3 columns]

In [7]:
# create figure and it's layout
f = figure()

if dataset1 == 'foodprices':
    x_as = normalize(select_plot_foodprices_average(foodprices, set_country, set_product, set_year1, set_year2), 'average_price')
    f.yaxis.axis_label="Price of {}".format(set_product)
                     
elif dataset1 == 'migration_movements':
    x_as = normalize(select_plot_migration_movements1(migration_movements, set_country, set_year1, set_year2), 'Value')
    f.xaxis.axis_label="Amount of refugees in {}".format(set_country)
    

if dataset2 == 'foodprices':
    y_as = normalize(select_plot_foodprices_average(foodprices,set_country, set_product, set_year1, set_year2), 'average_price')
    f.yaxis.axis_label="Price of {}".format(set_product)
                         
elif dataset2 == 'migration_movements':
    y_as = normalize(select_plot_migration_movements1(migration_movements, set_country, set_year1, set_year2), 'Value')
    f.yaxis.axis_label="Amount of refugees in {}".format(set_country)
    
    
output_file("Compare.html")


f = figure(plot_width=1000, plot_height=650)
f.background_fill_color="lightblue"
f.background_fill_alpha=0.1

# title
f.title.text="Refugees from Middle East to Europe"
f.title.text_font_size="25px"
f.title.align="center"

# set range axes

# toolbar
f.toolbar_location='above'

# manual legend to get it next to the plot, not over it
    
f.circle(x_as['Normalized_data'], y_as['Normalized_data'] , color='red')
    

show(f)

ERROR: Geen data beschikbaar over het jaar 1999.0
ERROR: Geen data beschikbaar over het jaar 1999.0833333333333
ERROR: Geen data beschikbaar over het jaar 1999.1666666666667
ERROR: Geen data beschikbaar over het jaar 1999.25
ERROR: Geen data beschikbaar over het jaar 1999.3333333333333
ERROR: Geen data beschikbaar over het jaar 1999.4166666666667
ERROR: Geen data beschikbaar over het jaar 1999.5
ERROR: Geen data beschikbaar over het jaar 1999.5833333333333
ERROR: Geen data beschikbaar over het jaar 1999.6666666666667
ERROR: Geen data beschikbaar over het jaar 1999.75
ERROR: Geen data beschikbaar over het jaar 1999.8333333333333
ERROR: Geen data beschikbaar over het jaar 1999.9166666666667
ERROR: Geen data beschikbaar over het jaar 2000.0
ERROR: Geen data beschikbaar over het jaar 2000.0833333333333
ERROR: Geen data beschikbaar over het jaar 2000.1666666666667
ERROR: Geen data beschikbaar over het jaar 2000.25
ERROR: Geen data beschikbaar over het jaar 2000.3333333333333
ERROR: Geen data beschikbaar over het jaar 2000.4166666666667
ERROR: Geen data beschikbaar over het jaar 2000.5
ERROR: Geen data beschikbaar over het jaar 2000.5833333333333
ERROR: Geen data beschikbaar over het jaar 2000.6666666666667
ERROR: Geen data beschikbaar over het jaar 2000.75
ERROR: Geen data beschikbaar over het jaar 2000.8333333333333
ERROR: Geen data beschikbaar over het jaar 2000.9166666666667
ERROR: Geen data beschikbaar over het jaar 2001.0
ERROR: Geen data beschikbaar over het jaar 2001.0833333333333
ERROR: Geen data beschikbaar over het jaar 2001.1666666666667
ERROR: Geen data beschikbaar over het jaar 2001.25
ERROR: Geen data beschikbaar over het jaar 2001.3333333333333
ERROR: Geen data beschikbaar over het jaar 2001.4166666666667
ERROR: Geen data beschikbaar over het jaar 2001.5
ERROR: Geen data beschikbaar over het jaar 2001.5833333333333
ERROR: Geen data beschikbaar over het jaar 2001.6666666666667
ERROR: Geen data beschikbaar over het jaar 2001.75
ERROR: Geen data beschikbaar over het jaar 2001.8333333333333
ERROR: Geen data beschikbaar over het jaar 2001.9166666666667
ERROR: Geen data beschikbaar over het jaar 2002.0
ERROR: Geen data beschikbaar over het jaar 2002.0833333333333
ERROR: Geen data beschikbaar over het jaar 2002.1666666666667
ERROR: Geen data beschikbaar over het jaar 2002.25
ERROR: Geen data beschikbaar over het jaar 2002.3333333333333
ERROR: Geen data beschikbaar over het jaar 2002.4166666666667
ERROR: Geen data beschikbaar over het jaar 2002.5
ERROR: Geen data beschikbaar over het jaar 2002.5833333333333
ERROR: Geen data beschikbaar over het jaar 2002.6666666666667
ERROR: Geen data beschikbaar over het jaar 2002.75
ERROR: Geen data beschikbaar over het jaar 2002.8333333333333
ERROR: Geen data beschikbaar over het jaar 2002.9166666666667
ERROR: Geen data beschikbaar over het jaar 2003.0
ERROR: Geen data beschikbaar over het jaar 2003.0833333333333
ERROR: Geen data beschikbaar over het jaar 2003.1666666666667
ERROR: Geen data beschikbaar over het jaar 2003.25
ERROR: Geen data beschikbaar over het jaar 2003.3333333333333
ERROR: Geen data beschikbaar over het jaar 2003.4166666666667
ERROR: Geen data beschikbaar over het jaar 2003.5
ERROR: Geen data beschikbaar over het jaar 2003.5833333333333
ERROR: Geen data beschikbaar over het jaar 2003.6666666666667
ERROR: Geen data beschikbaar over het jaar 2003.75
ERROR: Geen data beschikbaar over het jaar 2003.8333333333333
ERROR: Geen data beschikbaar over het jaar 2003.9166666666667
ERROR: Geen data beschikbaar over het jaar 2004.0
ERROR: Geen data beschikbaar over het jaar 2004.0833333333333
ERROR: Geen data beschikbaar over het jaar 2004.1666666666667
ERROR: Geen data beschikbaar over het jaar 2004.25
ERROR: Geen data beschikbaar over het jaar 2004.3333333333333
ERROR: Geen data beschikbaar over het jaar 2004.4166666666667
ERROR: Geen data beschikbaar over het jaar 2004.5
ERROR: Geen data beschikbaar over het jaar 2004.5833333333333
ERROR: Geen data beschikbaar over het jaar 2004.6666666666667
ERROR: Geen data beschikbaar over het jaar 2004.75
ERROR: Geen data beschikbaar over het jaar 2004.8333333333333
ERROR: Geen data beschikbaar over het jaar 2004.9166666666667
ERROR: Geen data beschikbaar over het jaar 2005.0
ERROR: Geen data beschikbaar over het jaar 2005.0833333333333
ERROR: Geen data beschikbaar over het jaar 2005.1666666666667
ERROR: Geen data beschikbaar over het jaar 2005.25
ERROR: Geen data beschikbaar over het jaar 2005.3333333333333
ERROR: Geen data beschikbaar over het jaar 2005.4166666666667
ERROR: Geen data beschikbaar over het jaar 2005.5
ERROR: Geen data beschikbaar over het jaar 2005.5833333333333
ERROR: Geen data beschikbaar over het jaar 2005.6666666666667
ERROR: Geen data beschikbaar over het jaar 2005.75
ERROR: Geen data beschikbaar over het jaar 2005.8333333333333
ERROR: Geen data beschikbaar over het jaar 2005.9166666666667
ERROR: Geen data beschikbaar over het jaar 2007.0
ERROR: Geen data beschikbaar over het jaar 2011.9166666666667
ERROR: Geen data beschikbaar over het jaar 2012.9166666666667
ERROR: Geen data beschikbaar over het jaar 2013.0
ERROR: Geen data beschikbaar over het jaar 2013.0833333333333
ERROR: Geen data beschikbaar over het jaar 2013.1666666666667
ERROR: Geen data beschikbaar over het jaar 2013.25
ERROR: Geen data beschikbaar over het jaar 2014.3333333333333
ERROR: Geen data beschikbaar over het jaar 2014.4166666666667
ERROR: Geen data beschikbaar over het jaar 2014.6666666666667
ERROR: Geen data beschikbaar over het jaar 2014.75
ERROR: Geen data beschikbaar over het jaar 2014.8333333333333
ERROR: Geen data beschikbaar over het jaar 2014.9166666666667
ERROR: Geen data beschikbaar over het jaar 2015.0
ERROR: Geen data beschikbaar over het jaar 2015.0833333333333
ERROR: Geen data beschikbaar over het jaar 2015.1666666666667
ERROR: Geen data beschikbaar over het jaar 2015.25
ERROR: Geen data beschikbaar over het jaar 2015.3333333333333
ERROR: Geen data beschikbaar over het jaar 2015.4166666666667
ERROR: Geen data beschikbaar over het jaar 2015.5
ERROR: Geen data beschikbaar over het jaar 2015.5833333333333
ERROR: Geen data beschikbaar over het jaar 2015.6666666666667
ERROR: Geen data beschikbaar over het jaar 2015.75
ERROR: Geen data beschikbaar over het jaar 2015.8333333333333
ERROR: Geen data beschikbaar over het jaar 2015.9166666666667
ERROR: Geen data beschikbaar over het jaar 2016.0
ERROR: Geen data beschikbaar over het jaar 2016.0833333333333
ERROR: Geen data beschikbaar over het jaar 2016.1666666666667
ERROR: Geen data beschikbaar over het jaar 2016.25
ERROR: Geen data beschikbaar over het jaar 2016.3333333333333
ERROR: Geen data beschikbaar over het jaar 2016.4166666666667
ERROR: Geen data beschikbaar over het jaar 2016.5
ERROR: Geen data beschikbaar over het jaar 2016.5833333333333
ERROR: Geen data beschikbaar over het jaar 2016.6666666666667
ERROR: Geen data beschikbaar over het jaar 2016.75
ERROR: Geen data beschikbaar over het jaar 2016.8333333333333
ERROR: Geen data beschikbaar over het jaar 2016.9166666666667
ERROR: Geen data beschikbaar over het jaar 2017.0
ERROR: Geen data beschikbaar over het jaar 2017.0833333333333
ERROR: Geen data beschikbaar over het jaar 2017.1666666666667
ERROR: Geen data beschikbaar over het jaar 2017.25
ERROR: Geen data beschikbaar over het jaar 2017.4166666666667
ERROR: Geen data beschikbaar over het jaar 2017.5
ERROR: Geen data beschikbaar over het jaar 2017.5833333333333
ERROR: Geen data beschikbaar over het jaar 2017.6666666666667
ERROR: Geen data beschikbaar over het jaar 2017.75
ERROR: Geen data beschikbaar over het jaar 2017.8333333333333
ERROR: Geen data beschikbaar over het jaar 2017.9166666666667

c:\users\midas\appdata\local\programs\python\python36-32\lib\site-packages\bokeh\models\sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 96), ('y', 224)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [ ]:
# elif dataset1 == 'temperature_and_precipitation':
    
#     if set_variable1 == 'rain':
#         x_as = normalize(select_plot_temperature_and_precipitation(temperature_and_precipitation, set_country, set_year1, set_year2), 'pr')
        
#     elif set_variable1 == 'temperature':
#         x_as = normalize(select_plot_temperature_and_precipitation(temperature_and_precipitation, set_country, set_year1, set_year2), 'tas')
        
#         elif dataset2 == 'temperature_and_precipitation':
    
#     if set_variable2 == 'rain':
#         y_as = normalize(select_plot_temperature_and_precipitation(temperature_and_precipitation, set_country, set_year1, set_year2), 'pr')
        
#     elif set_variable2 == 'temperature':
#         y_as = normalize(select_plot_temperature_and_precipitation(temperature_and_precipitation, set_country, set_year1, set_year2), 'tas')