In [2]:
import pandas as pd
import numpy as np
import os
from products_per_country import *

print(os.getcwd())
# controleer altijd of je in de map helpfiles zit

C:\Users\boble\Documents\GitHub\DataProcessing\helpfiles

In [3]:
from select_df import select_df

df_foodprices = select_df(1, 'foodprices')
df_migration = select_df(1, 'migration_movements')
df_weather = select_df(1, 'temperature_and_precipitation')

Succesfully imported foodprices!
Succesfully imported migration_movements!
succesfully imported temperature_and_precipitation!

# Select migration movements

In [4]:
def select_plot_migration_movements(input_data,origin, year1, year2):
    input_data = input_data.loc[input_data['Origin'] == origin]
    input_data = input_data.loc[(input_data['Timestamp'] > year1) & (input_data['Timestamp'] < year2)]
    return input_data

In [5]:
test = select_plot_migration_movements(df_migration, 'Gambia', 1980, 2017)
test

      Origin    Timestamp  Value
22    Gambia  1999.000000      9
52    Gambia  1999.083333     26
82    Gambia  1999.166667     38
116   Gambia  1999.250000     31
150   Gambia  1999.333333     25
184   Gambia  1999.416667     40
233   Gambia  1999.500000     34
253   Gambia  1999.583333     24
280   Gambia  1999.666667     40
332   Gambia  1999.750000     43
359   Gambia  1999.833333     53
393   Gambia  1999.916667     60
419   Gambia  2000.000000     47
467   Gambia  2000.083333     49
505   Gambia  2000.166667     57
530   Gambia  2000.250000     42
565   Gambia  2000.333333     38
594   Gambia  2000.416667     53
631   Gambia  2000.500000     65
677   Gambia  2000.583333     82
687   Gambia  2000.666667     83
735   Gambia  2000.750000     67
769   Gambia  2000.833333     43
797   Gambia  2000.916667     47
834   Gambia  2001.000000     55
857   Gambia  2001.083333     49
888   Gambia  2001.166667     51
929   Gambia  2001.250000     55
985   Gambia  2001.333333     95
1005  Gambia  2001.416667     86
...      ...          ...    ...
6380  Gambia  2014.583333   2233
6410  Gambia  2014.666667   2650
6432  Gambia  2014.750000   2418
6467  Gambia  2014.833333   2278
6505  Gambia  2014.916667   2354
6547  Gambia  2015.000000   2222
6595  Gambia  2015.083333   2193
6615  Gambia  2015.166667   1949
6641  Gambia  2015.250000   1821
6691  Gambia  2015.333333   2023
6713  Gambia  2015.416667   2274
6755  Gambia  2015.500000   2466
6776  Gambia  2015.583333   2503
6816  Gambia  2015.666667   2715
6859  Gambia  2015.750000   2431
6875  Gambia  2015.833333   1665
6916  Gambia  2015.916667   1682
6959  Gambia  2016.000000   2098
6996  Gambia  2016.083333   2388
7036  Gambia  2016.166667   2635
7064  Gambia  2016.250000   2708
7091  Gambia  2016.333333   2956
7118  Gambia  2016.416667   3594
7164  Gambia  2016.500000   3543
7194  Gambia  2016.583333   2940
7226  Gambia  2016.666667   2556
7272  Gambia  2016.750000   2690
7293  Gambia  2016.833333   2775
7315  Gambia  2016.916667   2573
7361  Gambia  2017.000000   2698

[217 rows x 3 columns]

# Select temperature and precipitation

In [6]:
# geeft voor een #input_data van een #country de pr en tas vanaf #year1 tot en met #year2

def select_plot_temperature_and_precipitation(input_data, country, year1, year2):
    saved_dict = {'Mauritania': 'MRT', 'Lesotho': 'LSO', 'Somalia': 'SOM', 'Nigeria': 'NGA', 'Tanzania': 'TZA', 'Zambia': 'ZMB', 'Burundi': 'BDI', 'Afghanistan': 'AFG', 'Mali': 'MLI', 'Niger': 'NER', 'Malawi': 'MWI', 'Congo': 'ZAR', 'Cabo Verde': 'CPV', 'Sudan': 'SDN', 'Pakistan': 'PAK', 'Burkina Faso': 'BFA', 'Rwanda': 'RWA', 'Kenya': 'KEN', 'Senegal': 'SEN', 'Cameroon': 'CMR', 'Sierra Leone': 'SLE', 'Iraq': 'IRQ', 'Uganda': 'UGA', 'Mozambique': 'MOZ', 'Zimbabwe': 'ZWE', 'Central African Republic': 'CAF', 'Ethiopia': 'ETH', 'Guinea': 'GIN', 'Liberia': 'LBR', 'Djibouti': 'DJI', 'Iran': 'IRN', 'Madagascar': 'MDG', 'Lebanon': 'LBN'}

    if country in saved_dict.keys():
        country = saved_dict[country]
    else:
        print("Please enter correct country name")
    
    input_data = pd.DataFrame(input_data.loc[input_data['country'] == country])
    input_data = input_data.loc[(input_data['year'] > year1 - 1) & (input_data['year'] < year2 + 1)]
    
#     maak van de jaren en maanden kommajaren
    YearMonth = []
    month = []
    for row in input_data['month']:
        month.append(str(row))
        
    count = 0
    for year in input_data['year']:
        year = int(year) + (int(month[count])  - 1)/ 12
        YearMonth.append(year)
        count += 1
    input_data['YearMonth'] = YearMonth
    input_data = input_data[['pr', 'tas', 'country', 'YearMonth']]
    return input_data

select_plot_temperature_and_precipitation(df_weather, 'Lesotho', 1985, 2030)

             pr       tas country    YearMonth
6000  204.68800  18.64720     LSO  1991.000000
6001  124.99700  17.88130     LSO  1991.083333
6002  110.43400  15.83400     LSO  1991.166667
6003    3.49657  13.68640     LSO  1991.250000
6004    3.86758  10.60940     LSO  1991.333333
6005   13.04190   6.57098     LSO  1991.416667
6006    0.94483   7.48768     LSO  1991.500000
6007    3.26394   8.87845     LSO  1991.583333
6008   59.57440  13.14010     LSO  1991.666667
6009  154.31900  14.26600     LSO  1991.750000
6010   62.73080  15.83960     LSO  1991.833333
6011  124.43400  16.87680     LSO  1991.916667
6012   49.29210  19.62300     LSO  1992.000000
6013   57.49860  19.70280     LSO  1992.083333
6014   62.94090  17.33280     LSO  1992.166667
6015   20.05400  14.93980     LSO  1992.250000
6016    0.68631   9.65732     LSO  1992.333333
6017    0.44241   6.48702     LSO  1992.416667
6018    0.59084   7.15533     LSO  1992.500000
6019   44.59960   8.54639     LSO  1992.583333
6020    9.06036  13.96630     LSO  1992.666667
6021   69.61680  14.46120     LSO  1992.750000
6022  101.27500  15.19780     LSO  1992.833333
6023   63.34060  18.55760     LSO  1992.916667
6024   75.85950  19.70190     LSO  1993.000000
6025   99.88270  17.25200     LSO  1993.083333
6026   83.61760  16.52780     LSO  1993.166667
6027   49.64940  12.83620     LSO  1993.250000
6028   13.56430  10.22040     LSO  1993.333333
6029    3.70470   7.32104     LSO  1993.416667
...         ...       ...     ...          ...
6270    5.44050   8.85943     LSO  2013.500000
6271    4.86976   9.26293     LSO  2013.583333
6272    3.13513  13.47990     LSO  2013.666667
6273   62.14280  14.59120     LSO  2013.750000
6274   78.71600  16.64490     LSO  2013.833333
6275  188.62700  17.47640     LSO  2013.916667
6276   52.83950  20.12130     LSO  2014.000000
6277  199.34500  18.97260     LSO  2014.083333
6278   92.50900  16.70830     LSO  2014.166667
6279   34.03540  12.86790     LSO  2014.250000
6280   11.37930  10.58150     LSO  2014.333333
6281    2.39011   7.33333     LSO  2014.416667
6282    2.87602   7.68890     LSO  2014.500000
6283   13.77780  10.01210     LSO  2014.583333
6284    8.51619  13.88260     LSO  2014.666667
6285   31.47690  15.31350     LSO  2014.750000
6286  168.34100  15.56750     LSO  2014.833333
6287  115.96500  17.59910     LSO  2014.916667
6288   64.11730  19.14420     LSO  2015.000000
6289   54.89620  17.88450     LSO  2015.083333
6290   98.94550  17.37620     LSO  2015.166667
6291   25.89570  13.08760     LSO  2015.250000
6292    9.97749  11.13490     LSO  2015.333333
6293   36.81640   7.23080     LSO  2015.416667
6294   18.16340   7.80643     LSO  2015.500000
6295   14.76850   8.74273     LSO  2015.583333
6296   31.65650  13.30430     LSO  2015.666667
6297   35.01170  15.66440     LSO  2015.750000
6298   48.63930  15.77170     LSO  2015.833333
6299   29.61620  19.24540     LSO  2015.916667

[300 rows x 4 columns]

In [7]:
df_foodprices

,Unnamed: 0,Unnamed: 0.1,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_id,um_name,mp_month,mp_year,mp_price,Year
0,0,24213,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,1,2003,105.6558,2003.000000
1,1,24214,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,2,2003,103.3953,2003.083333
2,2,24215,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,3,2003,101.8303,2003.166667
3,3,24216,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,4,2003,103.3039,2003.250000
4,4,24217,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,5,2003,103.7575,2003.333333
5,5,24218,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,6,2003,102.4965,2003.416667
6,6,24219,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,7,2003,82.3070,2003.500000
7,7,24220,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,8,2003,76.6009,2003.583333
8,8,24221,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,9,2003,71.1824,2003.666667
9,9,24222,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,10,2003,53.1701,2003.750000
10,10,24223,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,11,2003,52.2340,2003.833333
11,11,24224,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,12,2003,50.2570,2003.916667
12,12,24225,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,1,2004,50.3069,2004.000000
13,13,24226,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,2,2004,48.0672,2004.083333
14,14,24227,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,3,2004,51.7204,2004.166667
15,15,24228,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,4,2004,59.2121,2004.250000
16,16,24229,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,5,2004,62.8178,2004.333333
17,17,24230,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,6,2004,62.4239,2004.416667
18,18,24231,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,7,2004,73.8951,2004.500000
19,19,24232,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,8,2004,75.1852,2004.583333
20,20,24233,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,9,2004,87.9618,2004.666667
21,21,24234,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,10,2004,92.6165,2004.750000
22,22,24235,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,11,2004,88.9691,2004.833333
23,23,24236,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,12,2004,86.4592,2004.916667
24,24,24237,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,1,2005,86.6973,2005.000000
25,25,24238,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,2,2005,114.4360,2005.083333
26,26,24239,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,3,2005,141.3891,2005.166667
27,27,24240,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,4,2005,149.0165,2005.250000
28,28,24241,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,5,2005,158.8906,2005.333333
29,29,24242,Burkina Faso,Cascades,Banfora,Maize,XOF,Retail,5,KG,6,2005,200.3926,2005.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468361,60291,237261,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,4,2015,65630.0000,2015.250000
468362,60292,237262,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,5,2015,53050.0000,2015.333333
468363,60293,237263,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,6,2015,75930.0000,2015.416667
468364,60294,237264,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,7,2015,77600.0000,2015.500000
468365,60295,237265,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,8,2015,79690.0000,2015.583333
468366,60296,237266,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,9,2015,79660.0000,2015.666667
468367,60297,237267,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,10,2015,80220.0000,2015.750000
468368,60298,237268,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,11,2015,89370.0000,2015.833333
468369,60299,237269,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,12,2015,87800.0000,2015.916667
468370,60300,237270,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,1,2016,89050.0000,2016.000000
468371,60301,237271,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,2,2016,94610.0000,2016.083333
468372,60302,237272,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,3,2016,93770.0000,2016.166667
468373,60303,237273,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,4,2016,94110.0000,2016.250000
468374,60304,237274,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,5,2016,94760.0000,2016.333333
468375,60305,237275,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,6,2016,93510.0000,2016.416667
468376,60306,237276,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,7,2016,90270.0000,2016.500000
468377,60307,237277,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,8,2016,93940.0000,2016.583333
468378,60308,237278,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,9,2016,93980.0000,2016.666667
468379,60309,237279,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,10,2016,93810.0000,2016.750000
468380,60310,237280,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,11,2016,95460.0000,2016.833333
468381,60311,237281,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,12,2016,96230.0000,2016.916667
468382,60312,237282,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,1,2017,97630.0000,2017.000000
468383,60313,237283,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,2,2017,96490.0000,2017.083333
468384,60314,237284,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,3,2017,116810.0000,2017.166667
468385,60315,237285,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,4,2017,96500.0000,2017.250000
468386,60316,237286,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,5,2017,99800.0000,2017.333333
468387,60317,237287,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,6,2017,98950.0000,2017.416667
468388,60318,237288,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,7,2017,98070.0000,2017.500000
468389,60319,237289,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,8,2017,97900.0000,2017.583333
468390,60320,237290,Iran (Islamic Republic of),Tehran,Tehran Market,Lentils,IRR,Retail,5,KG,9,2017,97900.0000,2017.666667

# Select foodprices per market

In [8]:
def select_plot_foodprices_per_market(input_data, country, product, year1, year2):
    input_data = input_data.loc[input_data['adm0_name'] == country]
    input_data = input_data.loc[input_data['cm_name'] == product]
    input_data = input_data.loc[(input_data['Year'] >= year1) & (input_data['Year'] < year2 + 1)]
    return input_data

select_plot_foodprices_per_market(df_foodprices, 'Zimbabwe', 'Cowpeas', 1990, 2020)

,Unnamed: 0,Unnamed: 0.1,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_id,um_name,mp_month,mp_year,mp_price,Year
405651,405651,762716,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,8,2014,1.00,2014.583333
405652,405652,762717,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,10,2014,1.00,2014.750000
405653,405653,762718,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,11,2014,1.00,2014.833333
405654,405654,762719,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,4,2015,0.57,2015.250000
405655,405655,762720,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,5,2015,0.57,2015.333333
405656,405656,762721,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,6,2015,0.57,2015.416667
405657,405657,762722,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,7,2015,0.75,2015.500000
405658,405658,762723,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,8,2015,0.75,2015.583333
405659,405659,762724,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,9,2015,0.75,2015.666667
405660,405660,762725,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,10,2015,0.75,2015.750000
405661,405661,762726,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,11,2015,0.70,2015.833333
405662,405662,762727,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,12,2015,0.70,2015.916667
405663,405663,762728,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,1,2016,0.70,2016.000000
405664,405664,762729,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,2,2016,0.70,2016.083333
405665,405665,762730,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,8,2016,0.75,2016.583333
405666,405666,762731,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,1,2017,0.90,2017.000000
405667,405667,762732,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,2,2017,1.70,2017.083333
405668,405668,762733,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,3,2017,1.70,2017.166667
405669,405669,762734,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,4,2017,1.70,2017.250000
405670,405670,762735,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,5,2017,1.70,2017.333333
405671,405671,762736,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,6,2017,0.45,2017.416667
405672,405672,762737,Zimbabwe,Harare,Mbare,Cowpeas,USD,Retail,5,KG,7,2017,0.45,2017.500000
406647,406647,763712,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,8,2014,0.86,2014.583333
406648,406648,763713,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,10,2014,0.70,2014.750000
406649,406649,763714,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,1,2017,0.85,2017.000000
406650,406650,763715,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,2,2017,0.85,2017.083333
406651,406651,763716,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,3,2017,0.85,2017.166667
406652,406652,763717,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,4,2017,0.85,2017.250000
406653,406653,763718,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,5,2017,0.85,2017.333333
406654,406654,763719,Zimbabwe,Masvingo,Mucheke,Cowpeas,USD,Retail,5,KG,6,2017,0.57,2017.416667
407099,407099,764164,Zimbabwe,Manicaland,Sakubva,Cowpeas,USD,Retail,5,KG,8,2014,2.00,2014.583333
407100,407100,764165,Zimbabwe,Manicaland,Sakubva,Cowpeas,USD,Retail,5,KG,1,2017,1.00,2017.000000
407101,407101,764166,Zimbabwe,Manicaland,Sakubva,Cowpeas,USD,Retail,5,KG,2,2017,1.00,2017.083333
407102,407102,764167,Zimbabwe,Manicaland,Sakubva,Cowpeas,USD,Retail,5,KG,3,2017,1.00,2017.166667
407103,407103,764168,Zimbabwe,Manicaland,Sakubva,Cowpeas,USD,Retail,5,KG,4,2017,1.00,2017.250000
407104,407104,764169,Zimbabwe,Manicaland,Sakubva,Cowpeas,USD,Retail,5,KG,5,2017,1.00,2017.333333

In [9]:
# 

def select_plot_foodprices_average(input_data, country, product, year1, year2):
    input_data = select_plot_foodprices_per_market(input_data, country, product, year1, year2)
    
    country_list = []
    product_list = []
    average_price_list = []
    year_list = []
    
    for i in range(year1, year2 + 1):
        for j in range(12):
#             Selecteer een specifieke maand in een jaar
            output_data = input_data.loc[input_data['mp_year'] == i]
            output_data = output_data.loc[output_data['mp_month'] == j + 1]
#         maak een nieuwe rij wanneer er data beschikbaar is
            if len(output_data['mp_price']) > 0:
#                 year
                year_list.append(i + (j / 12))

#                 country
                country_list.append(country)

#                 product
                product_list.append(product)
#                 average data            
                average_price_list.append(sum(output_data['mp_price']) / len(output_data['mp_price']))

    
    output_data = pd.DataFrame()    
    output_data['country'] = country_list
    output_data['year'] = year_list
    output_data['product'] = product_list
    output_data['average_price'] = average_price_list
    return output_data

select_plot_foodprices_average(df_foodprices, 'Rwanda', 'Maize flour (imported)', 1998, 2018)

   country         year                 product  average_price
0   Rwanda  2012.000000  Maize flour (imported)     483.750000
1   Rwanda  2012.083333  Maize flour (imported)     487.645825
2   Rwanda  2012.166667  Maize flour (imported)     481.550000
3   Rwanda  2012.250000  Maize flour (imported)     467.750000
4   Rwanda  2012.333333  Maize flour (imported)     481.200000
5   Rwanda  2012.416667  Maize flour (imported)     573.916660
6   Rwanda  2013.333333  Maize flour (imported)     493.491667
7   Rwanda  2013.416667  Maize flour (imported)     499.777767
8   Rwanda  2013.500000  Maize flour (imported)     485.722217
9   Rwanda  2013.583333  Maize flour (imported)     441.546660
10  Rwanda  2013.666667  Maize flour (imported)     461.958333
11  Rwanda  2013.750000  Maize flour (imported)     496.072217
12  Rwanda  2013.833333  Maize flour (imported)     571.678571
13  Rwanda  2013.916667  Maize flour (imported)     521.155567
14  Rwanda  2014.000000  Maize flour (imported)     557.661117
15  Rwanda  2014.083333  Maize flour (imported)     579.125000
16  Rwanda  2014.166667  Maize flour (imported)     557.486117
17  Rwanda  2014.250000  Maize flour (imported)     530.911100
18  Rwanda  2014.333333  Maize flour (imported)     529.375000
19  Rwanda  2014.416667  Maize flour (imported)     509.833333
20  Rwanda  2014.500000  Maize flour (imported)     532.650000
21  Rwanda  2014.583333  Maize flour (imported)     431.642857
22  Rwanda  2014.666667  Maize flour (imported)     534.166667
23  Rwanda  2014.750000  Maize flour (imported)     530.652783
24  Rwanda  2014.833333  Maize flour (imported)     589.416667
25  Rwanda  2014.916667  Maize flour (imported)     613.809529
26  Rwanda  2015.000000  Maize flour (imported)     573.488100
27  Rwanda  2015.083333  Maize flour (imported)     575.416657
28  Rwanda  2015.166667  Maize flour (imported)     583.757143
29  Rwanda  2015.250000  Maize flour (imported)     588.088100
30  Rwanda  2015.333333  Maize flour (imported)     586.250000
31  Rwanda  2015.416667  Maize flour (imported)     594.450000
32  Rwanda  2015.500000  Maize flour (imported)     583.657143
33  Rwanda  2015.583333  Maize flour (imported)     568.321429
34  Rwanda  2015.666667  Maize flour (imported)     576.752386
35  Rwanda  2015.750000  Maize flour (imported)     576.333329
36  Rwanda  2015.833333  Maize flour (imported)     576.690814
37  Rwanda  2015.916667  Maize flour (imported)     592.726186

In [10]:
def normalize(input_data, column):
    values = []
    
    input_data[column]
    for value in input_data[column]:
         values.append(value)
            
    Min = min(values)
    Max = max(values)
        
    output_data = []
    for value in input_data[column]:
        output_data.append((value - Min)/(Max - Min))
    
    input_data['Normalized_data'] = output_data
    
    return input_data

In [11]:
def possible_range(data1, data2):
    # bepaal de range van dataset 1 (migration movements)
    min1 = float(data1.head(1))
    max1 = float(data1.tail(1))
    # bepaal de range van dataset 2 (foodprices average)
    min2 = float(data2.head(1))
    max2 = float(data2.tail(1))

    # bepaal de mogelijke combinatie range
    if min1 >= min2: year_min = int(np.ceil(min1))
    else: year_min = int(np.ceil(min2))
    if max1 <= max2: year_max = int(np.ceil(max1))
    else: year_max = int(np.ceil(max1))
        
    return(year_min, year_max)

# werking
# data1 = select_plot_migration_movements1(df_migration, 'Zimbabwe', 1990, 2018)['Timestamp']
# data2 = select_plot_foodprices_average(df_foodprices, 'Zimbabwe', 'Cowpeas', 1990, 2018)['year']
# possible_range(data1, data2)

# Plot functies
# |
# |

In [12]:
from bokeh.plotting import figure
from bokeh.io import output_file, show, save

import pandas

# Make sure x and y are of the same length.
x1 = select_plot_foodprices_average(df_foodprices, 'Lesotho', 'Beans (sugar-red)', 2004, 2014)['year'] 
y1 = normalize(select_plot_foodprices_average(df_foodprices, 'Lesotho', 'Beans (sugar-red)', 2004, 2014), 'average_price')['Normalized_data']  

x2 = select_plot_temperature_and_precipitation(df_weather, 'Lesotho', 2004, 2014)['YearMonth']    
y2 = normalize(select_plot_temperature_and_precipitation(df_weather, 'Lesotho', 2004, 2014), 'tas')['Normalized_data']    

f = figure(plot_width=1500, plot_height=600)

# Plot the line
f.line(x1, y1, color='red')
f.line(x2, y2, color='blue')

show(f)

In [17]:
# compares the average foodprices against the prices per market

country = 'Guinea'
product = 'Rice (local)'

df = select_plot_foodprices_per_market(df_foodprices, country, product, 1990, 2020)

f = figure(plot_width=832, plot_height=300, x_range=(2008,2018), y_range=(0, 10000))

# average foodprices
x2 = select_plot_foodprices_average(df_foodprices, country, product, 1990, 2018)['year']
y2 = select_plot_foodprices_average(df_foodprices, country, product, 1990, 2018)['average_price']
    
# foodprices per market
for market in df.mkt_name.unique():
    df_market = df.loc[df.mkt_name == df.mkt_name.unique()[0]]

    x1 = df['Year'] 
    y1 = df['mp_price']

    f.scatter(x1, y1, color='lightgrey', size=5, legend="Individual market prices")
    
# design
# f.title.text="Correlatie tussen de individuele marktprijzen van {} and the average market price in {}.".format(product, country)
f.xaxis.axis_label = "Jaar"
f.yaxis.axis_label = "Prijs in lokale valuta"
f.legend.location = "top_left"

f.line(x2, y2, color='red', legend="Average foodprice")

show(f)

In [117]:
# returns the countries with the input product

def select_plot_countries_per_product(input_data, product):
    input_data = input_data.loc[input_data['cm_name'] == product]
    return list(input_data.adm0_name.unique())

print(select_plot_countries_per_product(df_foodprices, 'Rice (local)'))
print()
print(select_plot_countries_per_product(df_foodprices, 'Rice (imported)'))

['Democratic Republic of the Congo', 'Guinea', 'Madagascar', 'Mali', 'Mauritania', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Zambia', 'Iran  (Islamic Republic of)']

['Burkina Faso', 'Democratic Republic of the Congo', 'Djibouti', 'Guinea', 'Liberia', 'Mali', 'Mauritania', 'Mozambique', 'Niger', 'Nigeria', 'Senegal']

In [ ]:
# compares the normalized average foodprices per country 

from bokeh.palettes import Set1

# choose country:
country = 'Mozambique'

colormap = ['red', 'green','blue', 'yellow','orange','brown', 'turquoise','black', 'purple', 'rosybrown', 'pink','magenta',
    'darkblue','chartreuse','aqua','indianred','darkturquoise','grey', 'lightskyblue','blueviolet', 'sandybrown', 'crimson', 
    'white', 'tan','y', 'gold', 'mintcream']

f = figure(plot_width=832, plot_height=416)
count = 0
   
# foodprices per marked
for product in products_country(df_foodprices, country):
    count += 1
    df = select_plot_foodprices_average(df_foodprices, country, product, 1990, 2020)
    x = df['year'] 
    y = normalize(df, 'average_price')['Normalized_data']

    f.line(x, y, color=colormap[count], legend="{}".format(product))
    
# design
f.legend.click_policy="hide"
f.xaxis.axis_label = "Jaar"
f.yaxis.axis_label = "Genormaliseerde prijs"
f.legend.location = "top_left"

legend = Legend(location=(0, 0))

f.add_layout(legend, 'right')

show(f)

In [62]:
# compares a product with all available countries 
from bokeh.palettes import Set1
from bokeh.models import Legend

# choose country:
product1 = 'Rice (local)'
product2 = 'Rice (imported)'

colormap = ['red', 'green','blue', 'yellow','orange','brown', 'turquoise','black', 'purple', 'rosybrown', 'pink','magenta',
    'darkblue','chartreuse','aqua','indianred','darkturquoise','grey', 'lightskyblue','blueviolet', 'sandybrown', 'crimson', 
    'white', 'tan','y', 'gold', 'mintcream']

f = figure(plot_width=832, plot_height=416)
count = 0
   
# foodprices per markt
for country in select_plot_countries_per_product(df_foodprices, product1):
    count += 1
    df = select_plot_foodprices_average(df_foodprices, country, product1, 1990, 2020)
    x = df['year'] 
    y = normalize(df, 'average_price')['Normalized_data']

    f.line(x, y, color='red', legend="{}".format(product1))
    
for country in select_plot_countries_per_product(df_foodprices, product2):
    count += 1
    df = select_plot_foodprices_average(df_foodprices, country, product2, 1990, 2020)
    x = df['year'] 
    y = normalize(df, 'average_price')['Normalized_data']

    f.line(x, y, color='blue', legend="{}".format(product2))
    
    
# design
f.legend.click_policy="hide"
f.xaxis.axis_label = "Jaar"
f.yaxis.axis_label = "Genormaliseerde prijs"
legend = Legend(location=(0, 0))
f.add_layout(legend, 'left')
show(f)

In [17]:
# compares several products with all available countries 
from bokeh.palettes import Set1
from bokeh.models import Legend

# choose products:
product1 = 'Rice (local)'
product2 = 'Rice (imported)'

colormap = ['red', 'green','blue', 'yellow','orange','brown', 'turquoise','black', 'purple', 'rosybrown', 'pink','magenta',
    'darkblue','chartreuse','aqua','indianred','darkturquoise','grey', 'lightskyblue','blueviolet', 'sandybrown', 'crimson', 
    'white', 'tan','y', 'gold', 'mintcream']

f = figure(plot_width=832, plot_height=416)
count = 0
   
# foodprices per markt
for country in select_plot_countries_per_product(df_foodprices, product1):
    count += 1
    df = select_plot_foodprices_average(df_foodprices, country, product1, 1990, 2020)
    x = df['year'] 
    y = normalize(df, 'average_price')['Normalized_data']

    f.line(x, y, color='red', legend="{}".format(product1))
    
for country in select_plot_countries_per_product(df_foodprices, product2):
    count += 1
    df = select_plot_foodprices_average(df_foodprices, country, product2, 1990, 2020)
    x = df['year'] 
    y = normalize(df, 'average_price')['Normalized_data']

    f.line(x, y, color='blue', legend="{}".format(product2))
    
# design
f.legend.click_policy="hide"
f.xaxis.axis_label = "Jaar"
f.yaxis.axis_label = "Genormaliseerde prijs"
legend = Legend(location=(0, 0))
f.add_layout(legend, 'above')
show(f)

In [118]:
# scatter a product with all available countries 
from bokeh.palettes import Set1
from bokeh.models import Legend


# choose products:
product1 = 'Rice (local)'
product2 = 'Rice (imported)'
country = 'Mali'

colormap = ['red', 'green','blue', 'yellow','orange','brown', 'turquoise','black', 'purple', 'rosybrown', 'pink','magenta',
    'darkblue','chartreuse','aqua','indianred','darkturquoise','grey', 'lightskyblue','blueviolet', 'sandybrown', 'crimson', 
    'white', 'tan','y', 'gold', 'mintcream']

f = figure(plot_width=416, plot_height=416)#, x_range=(340, 500), y_range=(340, 500))
count = 0 

try:
    df1 = select_plot_foodprices_average(df_foodprices, country, product1, 1900, 2020)
    df2 = select_plot_foodprices_average(df_foodprices, country, product2, 1900, 2020)

    x = df1.average_price
    y = df2.average_price
    f.scatter(x, y, color='red')
except:
    print(country)
    
# design
f.legend.click_policy="hide"
f.xaxis.axis_label = "Prijs lokale rijst"
f.yaxis.axis_label = "Prijs geïmporteerde rijst"

legend = Legend(location=(0, 0))
f.add_layout(legend, 'above')
show(f)

c:\users\boble\appdata\local\programs\python\python36-32\lib\site-packages\bokeh\models\sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 128), ('y', 174)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [ ]:
# checks if a product is in the foodprices dataset, if not, it returns a list of all available products in a given country

def check_product_in_foodprices(set_country, set_product, foodprices):
    
    set_product = '-' + set_product
    product_list = []
    for product in foodprices.loc[foodprices['adm0_name'] == set_country]['cm_name']:
        if '-' + product not in product_list:
            product_list.append('-' + product)

    d = {'Product_List' : product_list}

    df = pd.DataFrame(data=d)    
    
    if not set_product in product_list:
        print('Error, product not recognized. Choose a product from the list below')
        return df
    else:
        return 'Succesfully imported values!'

# Plot stacked Area chart

In [27]:
# All available countries

Africa = ['Central African Republic', 'Djibouti', 'Gambia', 'Guinea', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 
                'Malawi', 'Mali', 'Mauritania', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'South Sudan', 
                'Sudan', 'Uganda', 'Zambia', 'Zimbabwe']
Middle_East = ['Afghanistan', 'Iraq', 'Iran  (Islamic Republic of)', 'Lebanon', 'State of Palestine', 'Pakistan']

In [ ]:
# plot a stacked area chart for all migration movements in Africa

import numpy as np
import holoviews as hv
hv.extension('bokeh')

Central_African_Republic = np.array(select_plot_migration_movements(df_migration, 'Central African Republic', 1980, 2017).Value[0:216])
Djibouti = np.array(select_plot_migration_movements(df_migration, 'Djibouti', 1980, 2017).Value[0:216])
Gambia = np.array(select_plot_migration_movements(df_migration, 'Gambia', 1980, 2017).Value[0:216])
Guinea = np.array(select_plot_migration_movements(df_migration, 'Guinea', 1980, 2017).Value[0:216])
Kenya = np.array(select_plot_migration_movements(df_migration, 'Kenya', 1980, 2017).Value[0:216])
Lesotho = np.array(select_plot_migration_movements(df_migration, 'Lesotho', 1980, 2017).Value[0:216])
Liberia = np.array(select_plot_migration_movements(df_migration, 'Liberia', 1980, 2017).Value[0:216])
Madagascar = np.array(select_plot_migration_movements(df_migration, 'Madagascar', 1980, 2017).Value[0:216])
Malawi = np.array(select_plot_migration_movements(df_migration, 'Malawi', 1980, 2017).Value[0:216])
Mali = np.array(select_plot_migration_movements(df_migration, 'Mali', 1980, 2017).Value[0:216])
Mauritania = np.array(select_plot_migration_movements(df_migration, 'Mauritania', 1980, 2017).Value[0:216])
Mozambique = np.array(select_plot_migration_movements(df_migration, 'Mozambique', 1980, 2017).Value[0:216])
Niger = np.array(select_plot_migration_movements(df_migration, 'Niger', 1980, 2017).Value[0:216])
Nigeria = np.array(select_plot_migration_movements(df_migration, 'Nigeria', 1980, 2017).Value[0:216])
Rwanda = np.array(select_plot_migration_movements(df_migration, 'Rwanda', 1980, 2017).Value[0:216])
Senegal = np.array(select_plot_migration_movements(df_migration, 'Senegal', 1980, 2017).Value[0:216])
South_Sudan = np.array(select_plot_migration_movements(df_migration, 'South Sudan', 1980, 2017).Value[0:216])
Sudan = np.array(select_plot_migration_movements(df_migration, 'Sudan', 1980, 2017).Value[0:216])
Uganda = np.array(select_plot_migration_movements(df_migration, 'Uganda', 1980, 2017).Value[0:216])
Zambia = np.array(select_plot_migration_movements(df_migration, 'Zambia', 1980, 2017).Value[0:216])
Zimbabwe = np.array(select_plot_migration_movements(df_migration, 'Zimbabwe', 1980, 2017).Value[0:216])

dims = dict(kdims='Jaar', vdims='Migranten')
Central_African_Republic = hv.Area(Central_African_Republic, label='C.A.R.', **dims)
Djibouti = hv.Area(Djibouti, label='Djibouti', **dims)
Gambia = hv.Area(Gambia, label='Gambia', **dims)
Guinea = hv.Area(Guinea, label='Guinea', **dims)
Kenya = hv.Area(Kenya, label='Kenya', **dims)
Lesotho = hv.Area(Lesotho, label='Lesotho', **dims)
Liberia = hv.Area(Liberia, label='Liberia', **dims)
Madagascar = hv.Area(Madagascar, label='Madagascar', **dims)
Malawi = hv.Area(Malawi, label='Malawi', **dims)
Mali = hv.Area(Mali, label='Mali', **dims)
Mauritania = hv.Area(Mauritania, label='Mauritania', **dims)
Mozambique = hv.Area(Mozambique, label='Mozambique', **dims)
Niger = hv.Area(Niger, label='Niger', **dims)
Nigeria = hv.Area(Nigeria, label='Nigeria', **dims)
Rwanda = hv.Area(Rwanda, label='Rwanda', **dims)
Senegal = hv.Area(Senegal, label='Senegal', **dims)
South_Sudan = hv.Area(South_Sudan, label='South Sudan', **dims)
Sudan = hv.Area(Sudan, label='Sudan', **dims)
Uganda = hv.Area(Uganda, label='Uganda', **dims)
Zambia = hv.Area(Zambia, label='Zambia', **dims)
Zimbabwe = hv.Area(Zimbabwe, label='Zimbabwe', **dims)

%output size=100
%opts Overlay [show_title=False height=600 width=1300 show_legend=True legend_position='right' fontsize=13 xticks=[0,12,24,36,48,60,72,84,96,108,120,132,144,156,168,180,192,204,216]]
# overlay  = hv.Overlay( spike_train, 'milliseconds', vdims='Hertz')

overlay = hv.Overlay(Central_African_Republic * Djibouti * Gambia * Guinea * Kenya * Lesotho * Liberia * Madagascar * Malawi * Mali * Mauritania * Mozambique * Niger * Nigeria * Rwanda * Senegal * South_Sudan * Sudan * Uganda * Zambia * Zimbabwe).options('Area', fill_alpha=0.5)

overlay = hv.Area.stack(overlay).relabel("Migratiestromen van Afrika naar Europa van 1999 tot 2017")
overlay
# save
# renderer = hv.renderer('bokeh')
# renderer.save(overlay, 'stacked_migration_africa_to_europe')

In [ ]:
# plot a stacked area chart for all migration movements in the middel east

import numpy as np
import holoviews as hv
hv.extension('bokeh')

Afghanistan = np.array(select_plot_migration_movements(df_migration, 'Afghanistan', 1980, 2017).Value[0:216])
Pakistan = np.array(select_plot_migration_movements(df_migration, 'Pakistan', 1980, 2017).Value[0:216])
Iraq = np.array(select_plot_migration_movements(df_migration, 'Iraq', 1980, 2017).Value[0:216])
Iran = np.array(select_plot_migration_movements(df_migration, 'Iran', 1980, 2017).Value[0:216])
Lebanon = np.array(select_plot_migration_movements(df_migration, 'Lebanon', 1980, 2017).Value[0:216])
State_of_Palestine = np.array(select_plot_migration_movements(df_migration, 'State of Palestine', 1980, 2017).Value[0:216])

dims = dict(kdims='Jaar', vdims='Migranten')
Afghanistan = hv.Area(Afghanistan, label='Afghanistan', **dims)
Pakistan = hv.Area(Pakistan, label='Pakistan', **dims)
Iraq = hv.Area(Iraq, label='Iraq', **dims)
Iran = hv.Area(Iran, label='Iran', **dims)
Lebanon = hv.Area(Lebanon, label='Lebanon', **dims)
State_of_Palestine = hv.Area(State_of_Palestine, label='State of Palestine', **dims)

%output size=100
%opts Overlay [show_title=False height=600 width=1300 show_legend=True legend_position='right' fontsize=13 xticks=[0,12,24,36,48,60,72,84,96,108,120,132,144,156,168,180,192,204,216]]
# overlay  = hv.Overlay( spike_train, 'milliseconds', vdims='Hertz')

overlay = hv.Overlay(Afghanistan * Pakistan * Iraq * Iran * Lebanon * State_of_Palestine).options('Area', fill_alpha=0.5)
overlay = overlay.select(Jaren=(0,216))


hv.Area.stack(overlay).relabel("Migratiestromen van het Midden-Oosten naar Europa van 1999 tot 2017")

# save
# renderer = hv.renderer('bokeh')
# renderer.save(overlay, 'stacked_migration_middle-east_to_europe')

In [ ]:
import holoviews as hv
from bokeh.io import show, output_file
from bokeh.models import FactorRange
from bokeh.plotting import figure
import bokeh.layouts
from bokeh.layouts import column
hv.extension('bokeh', 'matplotlib')

def normalise(input_data):

    values = []
    
    for value in input_data:
         values.append(value)
            
    Min = min(values)
    Max = max(values)
        
    output_data = []
    
    for value in input_data:
        output_data.append((value - Min)/(Max - Min))
    
    input_data['Normalized_data'] = output_data

    return input_data

def select_plot_temperature_and_precipitation(input_data, country, year1, year2):
    
    x_range = range(year1,year2)
    
    saved_dict = {'mauritania': 'MRT', 'lesotho': 'LSO', 'somalia': 'SOM', 'nigeria': 'NGA', 'tanzania': 'TZA', 'zambia': 'ZMB', 'burundi': 'BDI', 'afghanistan': 'AFG', 'mali': 'MLI', 'niger': 'NER', 'malawi': 'MWI', 'congo': 'ZAR', 'cabo verde': 'CPV', 'Sudan': 'SDN', 'pakistan': 'PAK', 'burkina faso': 'BFA', 'rwanda': 'RWA', 'kenia': 'KEN', 'senegal': 'SEN', 'cameroon': 'CMR', 'sierra leone': 'SLE', 'iraq': 'IRQ', 'uganda': 'UGA', 'mozambique': 'MOZ', 'zimbabwe': 'ZWE', 'central african republic': 'CAF', 'ethiopia': 'ETH', 'guinea': 'GIN', 'liberia': 'LBR', 'djibouti': 'DJI', 'iran': 'IRN', 'madagascar': 'MDG', 'lebanon': 'LBN'}

    if country in saved_dict.keys():
        country = saved_dict[country]
    else:
        print("Please enter correct country name")
    
    input_data = pd.DataFrame(input_data.loc[input_data['country'] == country])
    input_data = input_data.loc[(input_data['year'] > year1 - 1) & (input_data['year'] < year2 + 1)]
    
#   maak van de jaren en maanden kommajaren
    YearMonth = []
    month = []
    for row in input_data['month']:
        month.append(str(row))
        
    count = 0
    
    for year in input_data['year']:
        
        year = int(year) + (int(month[count])  - 1)/ 12
        YearMonth.append(year)
        count += 1
        
    input_data['YearMonth'] = YearMonth
    input_data = input_data[['pr', 'tas', 'country', 'YearMonth']]
    
    
    return input_data


def bar_graph(input_data, country, year1, year2, target_data1, target_data2):
    
    frame = select_plot_temperature_and_precipitation(input_data, country, year1, year2)

    df1 = normalise(frame[target_data1])
    df2 = normalise(frame[target_data2])
    
    #print(df1)
    
    for cell in df1:
        if type(cell) == list:
            
            data_inject1 = cell
            break
            
    for cell in df2:

        if type(cell) == list:
            
            data_inject2 = cell
            break

    % output size = 250
    % opts Curve (color='red')
    
    bars = hv.Bars(data_inject1, "{}".format(country), 'precipitation and temperature', label = 'precipitation')
    line = hv.Curve(data_inject2, "{}".format(country), 'precipitation and temperature',label = 'temperature')
    
    # function to call food data 
    
    plot = bars * line  
    
    return plot

# Foodprices chord chart

In [ ]:
from bokeh.sampledata.les_mis import data
import matplotlib

hv.extension('bokeh')
%output size=300

In [ ]:
# plot a chord chart for foodprics
%opts Chord [label_index='index'  edge_color_index='country' color_index='COUNTRY' ]
%opts Chord (cmap='rainbow' edge_cmap='rainbow')

hv.Chord(df_products_per_country)

# save
# renderer = hv.renderer('bokeh')
# Chord = hv.Chord(df_products_per_country)
# renderer.save(Chord, 'chord_chart_middle_east')

In [ ]:

df_products_per_country = pd.DataFrame()

for country in Middle_East:
    for product in products_country(df_foodprices, country):
        df_products_per_country = df_products_per_country.append([[country, product, 20]], ignore_index=True)
#         print(country, products_country(df_foodprices, country))
df_products_per_country.columns = ['country', 'product', 'value']
df_products_per_country.to_csv('df_products_per_country_middle_east.csv')
# df_products_per_country

In [ ]:
df_products_per_country = pd.DataFrame()

for country in Africa:
    for product in products_country(df_foodprices, country):
        df_products_per_country = df_products_per_country.append([[country, product, 20]], ignore_index=True)
df_products_per_country.columns = ['country', 'product', 'value']
df_products_per_country.to_csv('df_products_per_country_africa.csv')
# df_products_per_country

In [ ]:
df_products_per_country = pd.read_csv('df_products_per_country_middle_east_cleaned.csv')
df_products_per_country = df_products_per_country[['country', 'product', 'value']]
df_products_per_country