In [2]:
import pandas as pd
import numpy as np
import os

print(os.getcwd())
# controleer altijd of je in de map helpfiles zit

C:\Users\Midas\Documents\GitHub\DataProcessing1\helpfiles

In [3]:
from select_df import select_df

df_foodprices = select_df(1, 'foodprices')
df_migration = select_df(1, 'migration_movements')
df_weather = select_df(1, 'temperature_and_precipitation')

Succesfully imported foodprices!
Succesfully imported migration_movements!
succesfully imported temperature_and_precipitation!

# Plot migration movements

In [4]:
def select_plot_migration_movements(input_data,origin, year1, year2):
    input_data = input_data.loc[input_data['Origin'] == origin]
    input_data = input_data.loc[(input_data['Timestamp'] > year1) & (input_data['Timestamp'] < year2)]
    return input_data

In [5]:
test = select_plot_migration_movements(df_migration, 'Zimbabwe', 1999, 2017)
test

        Origin    Timestamp  Value
37    Zimbabwe  1999.083333     31
100   Zimbabwe  1999.166667     38
114   Zimbabwe  1999.250000     48
165   Zimbabwe  1999.333333     45
187   Zimbabwe  1999.416667     38
213   Zimbabwe  1999.500000     34
266   Zimbabwe  1999.583333     42
297   Zimbabwe  1999.666667     46
331   Zimbabwe  1999.750000     35
343   Zimbabwe  1999.833333     43
390   Zimbabwe  1999.916667     63
435   Zimbabwe  2000.000000     85
449   Zimbabwe  2000.083333    128
485   Zimbabwe  2000.166667    126
525   Zimbabwe  2000.250000    130
545   Zimbabwe  2000.333333    196
611   Zimbabwe  2000.416667    185
629   Zimbabwe  2000.500000     72
654   Zimbabwe  2000.583333     10
697   Zimbabwe  2000.666667     12
718   Zimbabwe  2000.750000      8
780   Zimbabwe  2000.833333     12
801   Zimbabwe  2000.916667    158
825   Zimbabwe  2001.000000    305
882   Zimbabwe  2001.083333    324
895   Zimbabwe  2001.166667    297
949   Zimbabwe  2001.250000    286
976   Zimbabwe  2001.333333    307
990   Zimbabwe  2001.416667    308
1028  Zimbabwe  2001.500000    319
...        ...          ...    ...
6401  Zimbabwe  2014.666667     98
6449  Zimbabwe  2014.750000     82
6460  Zimbabwe  2014.833333     70
6526  Zimbabwe  2014.916667     73
6546  Zimbabwe  2015.000000     97
6594  Zimbabwe  2015.083333    103
6623  Zimbabwe  2015.166667     84
6628  Zimbabwe  2015.166667   4311
6647  Zimbabwe  2015.250000     74
6673  Zimbabwe  2015.333333     75
6726  Zimbabwe  2015.416667     62
6746  Zimbabwe  2015.500000     63
6786  Zimbabwe  2015.583333     78
6807  Zimbabwe  2015.666667     98
6850  Zimbabwe  2015.750000     96
6880  Zimbabwe  2015.833333     84
6918  Zimbabwe  2015.916667     89
6967  Zimbabwe  2016.000000    103
6987  Zimbabwe  2016.083333     91
7020  Zimbabwe  2016.166667     81
7050  Zimbabwe  2016.250000     92
7077  Zimbabwe  2016.333333     92
7120  Zimbabwe  2016.416667    101
7151  Zimbabwe  2016.500000    144
7206  Zimbabwe  2016.583333    177
7241  Zimbabwe  2016.666667    157
7255  Zimbabwe  2016.750000    131
7289  Zimbabwe  2016.833333    143
7327  Zimbabwe  2016.916667    179
7359  Zimbabwe  2017.000000    164

[217 rows x 3 columns]

# Plot temperature and precipitation

In [6]:
# geeft voor een #input_data van een #country de pr en tas vanaf #year1 tot en met #year2

def select_plot_temperature_and_precipitation(input_data, country, year1, year2):
    saved_dict = {'Mauritania': 'MRT', 'Lesotho': 'LSO', 'Somalia': 'SOM', 'Nigeria': 'NGA', 'Tanzania': 'TZA', 
                  'Zambia': 'ZMB', 'Burundi': 'BDI', 'Afghanistan': 'AFG', 'Mali': 'MLI', 'Niger': 'NER', 'Malawi': 'MWI', 
                  'Congo': 'ZAR', 'Cabo Verde': 'CPV', 'Sudan': 'SDN', 'Pakistan': 'PAK', 'Burkina Faso': 'BFA', 
                  'Rwanda': 'RWA', 'Kenya': 'KEN', 'Senegal': 'SEN', 'Cameroon': 'CMR', 'Sierra Leone': 'SLE', 
                  'Iraq': 'IRQ', 'Uganda': 'UGA', 'Mozambique': 'MOZ', 'Zimbabwe': 'ZWE', 
                  'Central African Republic': 'CAF', 'Ethiopia': 'ETH', 'Guinea': 'GIN', 'Liberia': 'LBR', 
                  'Djibouti': 'DJI', 'Iran': 'IRN', 'Madagascar': 'MDG', 'Lebanon': 'LBN'}

    if country in saved_dict.keys():
        country = saved_dict[country]
    else:
        print("Please enter correct country name")
    
    input_data = pd.DataFrame(input_data.loc[input_data['country'] == country])
    input_data = input_data.loc[(input_data['year'] > year1 - 1) & (input_data['year'] < year2 + 1)]
    
#     maak van de jaren en maanden kommajaren
    YearMonth = []
    month = []
    for row in input_data['month']:
        month.append(str(row))
        
    count = 0
    for year in input_data['year']:
        year = int(year) + (int(month[count])  - 1)/ 12
        YearMonth.append(year)
        count += 1
    input_data['YearMonth'] = YearMonth
    input_data = input_data[['pr', 'tas', 'country', 'YearMonth']]
    return input_data

select_plot_temperature_and_precipitation(df_weather, 'Mauritania', 1999, 2017)

            pr      tas country    YearMonth
3396   0.51592  19.8069     MRT  1999.000000
3397   0.12357  20.8515     MRT  1999.083333
3398   0.03446  25.2013     MRT  1999.166667
3399   0.64638  29.8140     MRT  1999.250000
3400   0.42792  32.8321     MRT  1999.333333
3401   5.42781  34.7977     MRT  1999.416667
3402  21.44520  33.2225     MRT  1999.500000
3403  51.54220  32.0700     MRT  1999.583333
3404  27.13250  31.5413     MRT  1999.666667
3405   6.37463  29.4359     MRT  1999.750000
3406   0.58096  25.7399     MRT  1999.833333
3407   0.93684  20.8462     MRT  1999.916667
3408   1.78467  20.5454     MRT  2000.000000
3409   0.36628  22.5908     MRT  2000.083333
3410   0.03296  26.8954     MRT  2000.166667
3411   0.13683  30.1775     MRT  2000.250000
3412   0.22479  32.4684     MRT  2000.333333
3413   6.87812  33.6277     MRT  2000.416667
3414  27.85740  33.5043     MRT  2000.500000
3415  36.75300  32.7414     MRT  2000.583333
3416  21.70780  31.8053     MRT  2000.666667
3417   6.03426  28.2574     MRT  2000.750000
3418   1.16513  25.2466     MRT  2000.833333
3419   0.50770  21.4997     MRT  2000.916667
3420   0.18286  21.5656     MRT  2001.000000
3421   0.38218  22.9794     MRT  2001.083333
3422   0.21191  27.7502     MRT  2001.166667
3423   0.19899  31.0415     MRT  2001.250000
3424   0.58884  32.1097     MRT  2001.333333
3425   6.70565  34.4874     MRT  2001.416667
...        ...      ...     ...          ...
3570  14.67650  34.2724     MRT  2013.500000
3571  51.32500  32.5533     MRT  2013.583333
3572  37.31370  31.1450     MRT  2013.666667
3573   2.82304  30.1807     MRT  2013.750000
3574   0.74201  25.8654     MRT  2013.833333
3575   1.40888  22.3612     MRT  2013.916667
3576   0.34447  21.6919     MRT  2014.000000
3577   0.13988  22.1114     MRT  2014.083333
3578   0.02471  25.4298     MRT  2014.166667
3579   0.47025  30.3709     MRT  2014.250000
3580   1.11696  33.5165     MRT  2014.333333
3581   6.26412  34.8786     MRT  2014.416667
3582  11.25500  34.0769     MRT  2014.500000
3583  47.64940  32.7352     MRT  2014.583333
3584  20.33370  31.2569     MRT  2014.666667
3585   1.96250  30.0811     MRT  2014.750000
3586   1.26480  25.5859     MRT  2014.833333
3587   0.66388  20.6931     MRT  2014.916667
3588   0.42428  20.8147     MRT  2015.000000
3589   0.51516  22.5607     MRT  2015.083333
3590   0.22037  25.4886     MRT  2015.166667
3591   0.29452  31.0823     MRT  2015.250000
3592   0.53871  33.9901     MRT  2015.333333
3593   2.33357  35.1605     MRT  2015.416667
3594  20.13050  34.4114     MRT  2015.500000
3595  60.77620  32.8909     MRT  2015.583333
3596  22.32680  33.1416     MRT  2015.666667
3597   6.67660  30.2325     MRT  2015.750000
3598   0.61252  26.1794     MRT  2015.833333
3599   0.63767  21.6052     MRT  2015.916667

[204 rows x 4 columns]

In [ ]:
df_foodprices

# Plot foodprices per market

In [11]:
def select_plot_foodprices_per_market(input_data, country, product, year1, year2):
    input_data = input_data.loc[input_data['adm0_name'] == country]
    input_data = input_data.loc[input_data['cm_name'] == product]
    input_data = input_data.loc[(input_data['Year'] >= year1) & (input_data['Year'] < year2 + 1)]
    return input_data

select_plot_foodprices_per_market(df_foodprices, 'State of Palestine', 'Bread', 1990, 2020)

,Unnamed: 0,Unnamed: 0.1,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_id,um_name,mp_month,mp_year,mp_price,Year
456105,48035,765135,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,5,2014,4.0000,2014.333333
456106,48036,765136,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,6,2014,4.0000,2014.416667
456107,48037,765137,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,7,2014,4.0000,2014.500000
456108,48038,765138,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,8,2014,4.0000,2014.583333
456109,48039,765139,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,9,2014,4.0000,2014.666667
456110,48040,765140,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,10,2014,4.0000,2014.750000
456111,48041,765141,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,11,2014,4.0000,2014.833333
456112,48042,765142,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,12,2014,4.0000,2014.916667
456113,48043,765143,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,1,2015,4.0000,2015.000000
456114,48044,765144,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,2,2015,4.0000,2015.083333
456115,48045,765145,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,3,2015,4.0000,2015.166667
456116,48046,765146,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,4,2015,4.0000,2015.250000
456117,48047,765147,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,5,2015,4.0000,2015.333333
456118,48048,765148,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,6,2015,4.0000,2015.416667
456119,48049,765149,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,7,2015,3.7500,2015.500000
456120,48050,765150,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,8,2015,3.8750,2015.583333
456121,48051,765151,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,9,2015,4.0000,2015.666667
456122,48052,765152,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,10,2015,4.0000,2015.750000
456123,48053,765153,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,11,2015,4.0000,2015.833333
456124,48054,765154,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,12,2015,4.0000,2015.916667
456125,48055,765155,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,1,2016,4.0000,2016.000000
456126,48056,765156,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,2,2016,4.0000,2016.083333
456127,48057,765157,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,3,2016,4.0000,2016.166667
456128,48058,765158,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,4,2016,4.0000,2016.250000
456129,48059,765159,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,5,2016,4.0000,2016.333333
456130,48060,765160,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,6,2016,4.0000,2016.416667
456131,48061,765161,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,7,2016,4.0000,2016.500000
456132,48062,765162,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,8,2016,4.0000,2016.583333
456133,48063,765163,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,9,2016,4.0000,2016.666667
456134,48064,765164,State of Palestine,Jenin,Jenin,Bread,NIS,Retail,5,KG,10,2016,4.0000,2016.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462386,54316,771416,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,2,2016,2.5000,2016.083333
462387,54317,771417,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,3,2016,2.5000,2016.166667
462388,54318,771418,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,4,2016,2.2267,2016.250000
462389,54319,771419,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,5,2016,2.7800,2016.333333
462390,54320,771420,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,6,2016,2.5483,2016.416667
462391,54321,771421,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,7,2016,2.3867,2016.500000
462392,54322,771422,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,8,2016,2.0800,2016.583333
462393,54323,771423,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,9,2016,2.1200,2016.666667
462394,54324,771424,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,10,2016,2.1200,2016.750000
462395,54325,771425,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,11,2016,2.0600,2016.833333
462396,54326,771426,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,12,2016,2.0800,2016.916667
462397,54327,771427,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,1,2017,2.0400,2017.000000
462398,54328,771428,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,2,2017,2.3300,2017.083333
462399,54329,771429,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,3,2017,2.1200,2017.166667
462400,54330,771430,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,4,2017,2.1000,2017.250000
462401,54331,771431,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,5,2017,2.0667,2017.333333
462402,54332,771432,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,6,2017,2.0667,2017.416667
462403,54333,771433,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,7,2017,2.0667,2017.500000
462404,54334,771434,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,8,2017,2.0667,2017.583333
462405,54335,771435,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,9,2017,2.1100,2017.666667
462406,54336,771436,State of Palestine,Gaza,Gaza,Bread,NIS,Retail,5,KG,10,2017,2.3300,2017.750000
463068,54998,772098,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,1,2017,2.1200,2017.000000
463069,54999,772099,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,2,2017,2.0600,2017.083333
463070,55000,772100,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,3,2017,2.1200,2017.166667
463071,55001,772101,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,4,2017,2.0600,2017.250000
463072,55002,772102,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,5,2017,2.1200,2017.333333
463073,55003,772103,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,6,2017,2.1200,2017.416667
463074,55004,772104,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,7,2017,2.1200,2017.500000
463075,55005,772105,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,9,2017,2.3300,2017.666667
463076,55006,772106,State of Palestine,Rafah,Rafah,Bread,NIS,Retail,5,KG,10,2017,2.4150,2017.750000

In [ ]:
# 

def select_plot_foodprices_average(input_data, country, product, year1, year2):
    input_data = select_plot_foodprices_per_market(input_data, country, product, year1, year2)
    
    country_list = []
    product_list = []
    average_price_list = []
    year_list = []
    
    for i in range(year1, year2 + 1):
        for j in range(12):
#             Selecteer een specifieke maand in een jaar
            output_data = input_data.loc[input_data['mp_year'] == i]
            output_data = output_data.loc[output_data['mp_month'] == j + 1]
#         maak een nieuwe rij wanneer er data beschikbaar is
            if len(output_data['mp_price']) > 0:
#                 year
                year_list.append(i + (j / 12))

#                 country
                country_list.append(country)

#                 product
                product_list.append(product)
#                 average data            
                average_price_list.append(sum(output_data['mp_price']) / len(output_data['mp_price']))

    
    output_data = pd.DataFrame()    
    output_data['country'] = country_list
    output_data['year'] = year_list
    output_data['product'] = product_list
    output_data['average_price'] = average_price_list
    return output_data

select_plot_foodprices_average(df_foodprices, 'Zimbabwe', 'Cowpeas', 1998, 2018)

# Plot functies

In [ ]:
from bokeh.plotting import figure
from bokeh.io import output_file, show, save

import pandas

# Make sure x and y are of the same length.
x1 = select_plot_foodprices_average(df_foodprices, 'Lesotho', 'Beans (sugar-red)', 2004, 2014)['year'] 
y1 = normalize(select_plot_foodprices_average(df_foodprices, 'Lesotho', 'Beans (sugar-red)', 2004, 2014), 'average_price')['Normalized_data']  

x2 = select_plot_temperature_and_precipitation(df_weather, 'Lesotho', 2004, 2014)['YearMonth']    
y2 = normalize(select_plot_temperature_and_precipitation(df_weather, 'Lesotho', 2004, 2014), 'tas')['Normalized_data']    

output_file("Line.html")

f = figure(plot_width=1500, plot_height=600)

# Plot the line
f.line(x1, y1, color='red')
f.line(x2, y2, color='blue')

show(f)

In [ ]:
x1 = normalize(select_plot_migration_movements1(df_migration, 'Zimbabwe', 2004, 2018), 'Value')['Normalized_data']    
y1 = normalize(select_plot_foodprices_average(df_foodprices, 'Zimbabwe', 'Cowpeas', 2004, 2018), 'average_price')['Normalized_data']  

output_file("Line.html")

# Create a figure (that's 600x600)
f = figure(plot_width=600, plot_height=600)
f.xaxis.axis_label = "Temperature and precipitation"
f.yaxis.axis_label = "Average foodprices"

# Plot the line
f.circle(x1, y1, color='red')

show(f)

In [ ]:
def normalize(input_data, column):
    values = []
    
    input_data[column]
    for value in input_data[column]:
         values.append(value)
            
    if not min(values):
        return 0

    Min = min(values)
    Max = max(values)
        
    output_data = []
    for value in input_data[column]:
        output_data.append((value - Min)/(Max - Min))
    
    input_data['Normalized_data'] = output_data
    
    return input_data

In [ ]:
def possible_range(data1, data2):
    # bepaal de range van dataset 1 (migration movements)
    min1 = float(data1.head(1))
    max1 = float(data1.tail(1))
    # bepaal de range van dataset 2 (foodprices average)
    min2 = float(data2.head(1))
    max2 = float(data2.tail(1))

    # bepaal de mogelijke combinatie range
    if min1 >= min2: year_min = int(np.ceil(min1))
    else: year_min = int(np.ceil(min2))
    if max1 <= max2: year_max = int(np.ceil(max1))
    else: year_max = int(np.ceil(max1))
        
    return(year_min, year_max)

# werking
# data1 = select_plot_migration_movements1(df_migration, 'Zimbabwe', 1990, 2018)['Timestamp']
# data2 = select_plot_foodprices_average(df_foodprices, 'Zimbabwe', 'Cowpeas', 1990, 2018)['year']
# possible_range(data1, data2)

In [ ]:
# checks if a product is in the foodprices dataset, if not, it returns a list of all available products in a given country
def check_product_in_foodprices(set_country, set_product, foodprices):
    
    set_product = '-' + set_product
    product_list = []
    for product in foodprices.loc[foodprices['adm0_name'] == set_country]['cm_name']:
        if '-' + product not in product_list:
            product_list.append('-' + product)

    d = {'Product_List' : product_list}

    df = pd.DataFrame(data=d)    
    
    if not set_product in product_list:
        print('Error, product not recognized. Choose a product from the list below')
        return df
    else:
        return 'Succesfully imported values!'

In [ ]:
import holoviews as hv
from bokeh.io import show, output_file
from bokeh.models import FactorRange
from bokeh.plotting import figure
import bokeh.layouts
from bokeh.layouts import column
hv.extension('bokeh', 'matplotlib')

def normalise(input_data):

    values = []
    
    for value in input_data:
         values.append(value)
            
    Min = min(values)
    Max = max(values)
        
    output_data = []
    
    for value in input_data:
        output_data.append((value - Min)/(Max - Min))
    
    input_data['Normalized_data'] = output_data

    return input_data

def select_plot_temperature_and_precipitation(input_data, country, year1, year2):
    
    x_range = range(year1,year2)
    
    saved_dict = {'mauritania': 'MRT', 'lesotho': 'LSO', 'somalia': 'SOM', 'nigeria': 'NGA', 'tanzania': 'TZA', 'zambia': 'ZMB', 'burundi': 'BDI', 'afghanistan': 'AFG', 'mali': 'MLI', 'niger': 'NER', 'malawi': 'MWI', 'congo': 'ZAR', 'cabo verde': 'CPV', 'Sudan': 'SDN', 'pakistan': 'PAK', 'burkina faso': 'BFA', 'rwanda': 'RWA', 'kenia': 'KEN', 'senegal': 'SEN', 'cameroon': 'CMR', 'sierra leone': 'SLE', 'iraq': 'IRQ', 'uganda': 'UGA', 'mozambique': 'MOZ', 'zimbabwe': 'ZWE', 'central african republic': 'CAF', 'ethiopia': 'ETH', 'guinea': 'GIN', 'liberia': 'LBR', 'djibouti': 'DJI', 'iran': 'IRN', 'madagascar': 'MDG', 'lebanon': 'LBN'}

    if country in saved_dict.keys():
        country = saved_dict[country]
    else:
        print("Please enter correct country name")
    
    input_data = pd.DataFrame(input_data.loc[input_data['country'] == country])
    input_data = input_data.loc[(input_data['year'] > year1 - 1) & (input_data['year'] < year2 + 1)]
    
#   maak van de jaren en maanden kommajaren
    YearMonth = []
    month = []
    for row in input_data['month']:
        month.append(str(row))
        
    count = 0
    
    for year in input_data['year']:
        
        year = int(year) + (int(month[count])  - 1)/ 12
        YearMonth.append(year)
        count += 1
        
    input_data['YearMonth'] = YearMonth
    input_data = input_data[['pr', 'tas', 'country', 'YearMonth']]
    
    
    return input_data


def bar_graph(input_data, country, year1, year2, target_data1, target_data2):
    
    frame = select_plot_temperature_and_precipitation(input_data, country, year1, year2)

    df1 = normalise(frame[target_data1])
    df2 = normalise(frame[target_data2])
    
    #print(df1)
    
    for cell in df1:
        if type(cell) == list:
            
            data_inject1 = cell
            break
            
    for cell in df2:

        if type(cell) == list:
            
            data_inject2 = cell
            break

    % output size = 250
    % opts Curve (color='red')
    
    bars = hv.Bars(data_inject1, "{}".format(country), 'precipitation and temperature', label = 'precipitation')
    line = hv.Curve(data_inject2, "{}".format(country), 'precipitation and temperature',label = 'temperature')
    
    # function to call food data 
    
    plot = bars * line  
    
    return plot