In [19]:
#aantal mappen terug naar DataProcessing #de dataset die je wil importeren 

def select_df(folders_up, dataset):
    import os
    import pandas as pd
    import numpy as np
    
    if dataset == 'foodprices':
        for i in range(folders_up):
            os.chdir("../")
        os.chdir("datasets/preprocessed datasets/Food prices")
        raw_data = pd.read_csv('Food_prizes_Africa_processed.csv')
        df = pd.DataFrame(raw_data)
        print('Succesfully imported foodprices!')   
        
    elif dataset == 'migration_movements':
        for i in range(folders_up):
            os.chdir("../")                   
        os.chdir("datasets/preprocessed datasets/Migration movements!")
        raw_data = pd.read_csv('data_africa.csv')
        df = pd.DataFrame(raw_data)
        print('Succesfully imported migration_movements!')    
                                    
    elif dataset == 'temperature_and_precipitation':
        for i in range(folders_up):
            os.chdir("../")        
        os.chdir("datasets/preprocessed datasets/Temperature and precipitation")
        raw_data = pd.read_csv('tas_pr_1991_2015_AC.csv')
        df = pd.DataFrame(raw_data)
        print('succesfully imported temperature_and_precipitation!')
        
    else:
        return('Error: -- {} -- is geen beschikbare dataset. Kies uit: foodprices, migration_movements of temperature_and_precipitation'.format(dataset))
    
    if folders_up < 3:    
        for i in range(3 - folders_up ):
            os.chdir("../")
    return df
select_df(1, 'migration_movements')

succesfully imported temperature_and_precipitation!

              pr      tas  year  month country
0        3.44567  24.9060  1991      1     GIN
1        6.67371  26.7025  1991      2     GIN
2       22.96770  28.0834  1991      3     GIN
3       52.43970  28.2408  1991      4     GIN
4      102.09200  27.5423  1991      5     GIN
5      217.27900  26.7843  1991      6     GIN
6      328.33300  24.8923  1991      7     GIN
7      370.10800  24.4452  1991      8     GIN
8      224.51700  25.0350  1991      9     GIN
9      208.28800  24.5434  1991     10     GIN
10      13.33790  25.4675  1991     11     GIN
11       6.84110  24.7188  1991     12     GIN
12       4.51850  23.8676  1992      1     GIN
13      10.11610  26.9672  1992      2     GIN
14      11.77930  27.8799  1992      3     GIN
15      49.57730  28.7786  1992      4     GIN
16     144.16100  27.2536  1992      5     GIN
17     223.14700  25.5896  1992      6     GIN
18     324.95700  24.4151  1992      7     GIN
19     342.68200  24.2019  1992      8     GIN
20     283.52600  24.7083  1992      9     GIN
21     142.50600  25.3930  1992     10     GIN
22      43.48440  24.7807  1992     11     GIN
23       3.80980  24.4851  1992     12     GIN
24       0.17541  24.4809  1993      1     GIN
25      12.17120  26.7497  1993      2     GIN
26      36.90030  27.8786  1993      3     GIN
27      63.30600  28.3013  1993      4     GIN
28     103.25200  28.2588  1993      5     GIN
29     219.52400  25.8901  1993      6     GIN
...          ...      ...   ...    ...     ...
10170   28.76580  19.3776  2013      7     MDG
10171   34.47580  19.6371  2013      8     MDG
10172   17.88980  21.6318  2013      9     MDG
10173   91.37380  22.6827  2013     10     MDG
10174  120.76400  24.6339  2013     11     MDG
10175  190.90600  24.8788  2013     12     MDG
10176  279.29800  24.9664  2014      1     MDG
10177  264.12100  24.9557  2014      2     MDG
10178  218.23900  31.6363  2014      3     MDG
10179   85.91480  23.6993  2014      4     MDG
10180   31.19490  21.8313  2014      5     MDG
10181   54.00960  20.6491  2014      6     MDG
10182  109.81700  19.7488  2014      7     MDG
10183   31.70220  20.4404  2014      8     MDG
10184   16.93620  21.3769  2014      9     MDG
10185   35.59340  22.8909  2014     10     MDG
10186  209.74700  24.2062  2014     11     MDG
10187  306.42200  24.8085  2014     12     MDG
10188  316.17500  25.1232  2015      1     MDG
10189  258.60800  24.6730  2015      2     MDG
10190  183.27700  24.5481  2015      3     MDG
10191   47.69600  24.0387  2015      4     MDG
10192   51.04290  22.4668  2015      5     MDG
10193   40.94940  20.7082  2015      6     MDG
10194   33.04010  20.0339  2015      7     MDG
10195   39.01770  20.0857  2015      8     MDG
10196   19.20120  21.1597  2015      9     MDG
10197   49.98990  23.4262  2015     10     MDG
10198   86.15460  24.1409  2015     11     MDG
10199  222.44500  25.4341  2015     12     MDG

[10200 rows x 5 columns]

In [20]:
import os
# os.chdir("GitHub/DataProcessing/helpfiles")
print(os.getcwd())

C:\Users\boble\Documents\GitHub\DataProcessing\datasets