In [3]:
import os
print(os.getcwd())
os.chdir("../../../")
os.chdir("datasets/raw datasets")
print(os.getcwd())

C:\Users\Midas\Documents\GitHub\DataProcessing1\preprocessing code
C:\Users\Midas\Documents\GitHub\DataProcessing1\datasets\raw datasets

In [7]:
import pandas as pd
import numpy as np

raw_data = pd.read_csv('unhcr_popstats_export_asylum_seekers_monthly_all_data.csv')
df = pd.DataFrame(raw_data)

df['Origin'] = df['Origin'].replace({"Central African Rep.":"Central African Republic" })

df['Origin'] = df['Origin'].replace({"Iran (Islamic Rep. of)":"Iran" })
df['Origin'] = df['Origin'].replace({"Palestinian":"State of Palestine" })

af1 = df.loc[df['Origin'] == 'Cabo Verde']
af2 = df.loc[df['Origin'] == 'Central African Republic']
af3 = df.loc[df['Origin'] == 'Burundi']
af4 = df.loc[df['Origin'] == 'Congo']
af5 = df.loc[df['Origin'] == 'Djibouti']
af6 = df.loc[df['Origin'] == 'Ehtiopia']
af7 = df.loc[df['Origin'] == 'Gambia']
af8 = df.loc[df['Origin'] == 'Guinea']
af9 = df.loc[df['Origin'] == 'Kenya']
af10 = df.loc[df['Origin'] == 'Lesotho']
af11 = df.loc[df['Origin'] == 'Liberia']
af12 = df.loc[df['Origin'] == 'Madagascar']
af13 = df.loc[df['Origin'] == 'Malawi']
af14 = df.loc[df['Origin'] == 'Mali']
af15 = df.loc[df['Origin'] == 'Mauritania']
af16 = df.loc[df['Origin'] == 'Mozambique']
af17 = df.loc[df['Origin'] == 'Niger']
af18 = df.loc[df['Origin'] == 'Nigeria']
af19 = df.loc[df['Origin'] == 'Rwanda']
af20 = df.loc[df['Origin'] == 'Senegal']
af21 = df.loc[df['Origin'] == 'Somalia']
af22 = df.loc[df['Origin'] == 'South Sudan']
af23 = df.loc[df['Origin'] == 'Sudan']
af24 = df.loc[df['Origin'] == 'Uganda']
af25 = df.loc[df['Origin'] == 'Tanzania']
af26 = df.loc[df['Origin'] == 'Zambia']
af27 = df.loc[df['Origin'] == 'Zimbabwe']

af28 = df.loc[df['Origin'] == 'Syrian Arab Republic']
af29 = df.loc[df['Origin'] == 'Afghanistan']
af30 = df.loc[df['Origin'] == 'Iraq']
af31 = df.loc[df['Origin'] == 'Lebanon']
af32 = df.loc[df['Origin'] == 'State of Palestine']
af33 = df.loc[df['Origin'] == 'Pakistan']
af34 = df.loc[df['Origin'] == 'Iran']

predata_africa_middleEast = [af1, af2, af3, af4, af5, af6, af7, af8, af9, af10, 
                    af11, af12, af13, af14, af15, af16, af17, af18, af19, af20,
                    af21, af22, af23, af24, af25, af26, af27, af28, af29, af30, 
                    af31, af32, af33, af34]

africa_middleEast = pd.concat(predata_africa_middleEast)

c:\users\midas\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# vervang steretjes door nullen en maak integers van strings
data_africa_middleEast = africa_middleEast.replace(['*'], 0)
new_values = [int(row) for row in data_africa_middleEast['Value']]

In [9]:
def month_converter(month):
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 
              'December']
    return (months.index(month))/12

In [10]:
# remove old string values
data_africa_middleEast = data_africa_middleEast[['Country of residence', 'Origin', 'Year','Month']]

#add integer values
data_africa_middleEast['Values'] = new_values

africa_middleEast

months = []
for row in data_africa_middleEast['Month']:
    months.append(str(row))

#print(months)
YearMonth = []

count = 0
for year in data_africa_middleEast['Year']:
    year = int(year) + month_converter(months[count])
    YearMonth.append(year)
    count += 1

data_africa_middleEast['YearMonth'] = YearMonth

In [11]:
print(os.getcwd())
os.chdir("../")
os.chdir("preprocessed datasets/Migration movements")
print(os.getcwd())

C:\Users\Midas\Documents\GitHub\DataProcessing1\datasets\raw datasets
C:\Users\Midas\Documents\GitHub\DataProcessing1\datasets\preprocessed datasets\Migration movements

In [12]:
data_africa_middleEast[['Country of residence', 'Origin', 'YearMonth', 'Values']].to_csv('data_africa_middleEast.csv', index=False)

In [16]:
# raw_data1 = pd.read_csv('refugees_africa_per_timestamp.csv')
# df1 = pd.DataFrame(raw_data1)

# df1

raw_data2 = pd.read_csv('refugees_middle_east_per_timestamp.csv')
df2 = pd.DataFrame(raw_data2)


df2

# frames = [df1, df2]

# result = pd.concat(frames)
# result = result.sort_values(by=['Timestamp'])

# result[['Origin', 'Timestamp', 'Value']].to_csv('data_africa_middleEast_per_timestamp.csv', index=False)

             Origin    Timestamp  Value
0       Afghanistan  1999.000000      0
1       Afghanistan  1999.000000   1213
2       Afghanistan  1999.000000   2360
3       Afghanistan  1999.000000    122
4       Afghanistan  1999.000000      0
5       Afghanistan  1999.000000    491
6       Afghanistan  1999.000000      0
7       Afghanistan  1999.083333      0
8       Afghanistan  1999.083333   2842
9       Afghanistan  1999.083333   4865
10      Afghanistan  1999.083333    237
11      Afghanistan  1999.083333      0
12          Albania  1999.083333   1014
13          Albania  1999.083333      0
14          Albania  1999.166667      0
15          Albania  1999.166667   3173
16          Albania  1999.166667   5153
17          Albania  1999.166667    181
18          Albania  1999.166667      0
19          Albania  1999.166667   1045
20          Albania  1999.166667      0
21          Albania  1999.250000      0
22          Albania  1999.250000   3074
23          Algeria  1999.250000   5111
24          Algeria  1999.250000    145
25          Algeria  1999.250000      0
26          Algeria  1999.250000   1138
27          Algeria  1999.250000      0
28          Algeria  1999.333333      0
29          Algeria  1999.333333   3378
...             ...          ...    ...
1524        Burundi  2017.083333   4010
1525        Burundi  2017.083333      0
1526        Burundi  2017.166667      0
1527        Burundi  2017.166667  15853
1528  Côte d'Ivoire  2017.166667   9351
1529  Côte d'Ivoire  2017.166667    276
1530  Côte d'Ivoire  2017.166667      0
1531  Côte d'Ivoire  2017.166667   3878
1532  Côte d'Ivoire  2017.166667      0
1533  Côte d'Ivoire  2017.250000      0
1534  Côte d'Ivoire  2017.250000  12499
1535  Côte d'Ivoire  2017.250000   8449
1536  Côte d'Ivoire  2017.250000    258
1537  Côte d'Ivoire  2017.250000      0
1538  Côte d'Ivoire  2017.250000   2253
1539     Cabo Verde  2017.250000      0
1540       Cambodia  2017.333333      0
1541       Cambodia  2017.333333   6956
1542       Cameroon  2017.333333   4575
1543       Cameroon  2017.333333    125
1544       Cameroon  2017.333333      0
1545       Cameroon  2017.333333    724
1546       Cameroon  2017.333333      0
1547       Cameroon  2017.416667      0
1548       Cameroon  2017.416667      0
1549       Cameroon  2017.416667      0
1550       Cameroon  2017.416667      0
1551       Cameroon  2017.416667      0
1552       Cameroon  2017.416667      0
1553       Cameroon  2017.416667      0

[1554 rows x 3 columns]