In [42]:
import os
print(os.getcwd())
os.chdir("../../../")
os.chdir("datasets/raw datasets")
print(os.getcwd())

C:\Users\Midas\Documents\GitHub\DataProcessing1\datasets\preprocessed datasets\Migration movements
C:\Users\Midas\Documents\GitHub\DataProcessing1\datasets\raw datasets

In [1]:
import pandas as pd
import numpy as np

raw_data = pd.read_csv('unhcr_popstats_export_asylum_seekers_monthly_all_data.csv')
df = pd.DataFrame(raw_data)

df['Origin'] = df['Origin'].replace({"Central African Rep.":"Central African Republic"})

df['Origin'] = df['Origin'].replace({"Iran (Islamic Rep. of)":"Iran" })
df['Origin'] = df['Origin'].replace({"Palestinian":"State of Palestine" })

af1 = df.loc[df['Origin'] == 'Cabo Verde']
af2 = df.loc[df['Origin'] == 'Central African Republic']
af3 = df.loc[df['Origin'] == 'Burundi']
af4 = df.loc[df['Origin'] == 'Congo']
af5 = df.loc[df['Origin'] == 'Djibouti']
af6 = df.loc[df['Origin'] == 'Ehtiopia']
af7 = df.loc[df['Origin'] == 'Gambia']
af8 = df.loc[df['Origin'] == 'Guinea']
af9 = df.loc[df['Origin'] == 'Kenya']
af10 = df.loc[df['Origin'] == 'Lesotho']
af11 = df.loc[df['Origin'] == 'Liberia']
af12 = df.loc[df['Origin'] == 'Madagascar']
af13 = df.loc[df['Origin'] == 'Malawi']
af14 = df.loc[df['Origin'] == 'Mali']
af15 = df.loc[df['Origin'] == 'Mauritania']
af16 = df.loc[df['Origin'] == 'Mozambique']
af17 = df.loc[df['Origin'] == 'Niger']
af18 = df.loc[df['Origin'] == 'Nigeria']
af19 = df.loc[df['Origin'] == 'Rwanda']
af20 = df.loc[df['Origin'] == 'Senegal']
af21 = df.loc[df['Origin'] == 'Somalia']
af22 = df.loc[df['Origin'] == 'South Sudan']
af23 = df.loc[df['Origin'] == 'Sudan']
af24 = df.loc[df['Origin'] == 'Uganda']
af25 = df.loc[df['Origin'] == 'Tanzania']
af26 = df.loc[df['Origin'] == 'Zambia']
af27 = df.loc[df['Origin'] == 'Zimbabwe']

af28 = df.loc[df['Origin'] == 'Syrian Arab Republic']
af29 = df.loc[df['Origin'] == 'Afghanistan']
af30 = df.loc[df['Origin'] == 'Iraq']
af31 = df.loc[df['Origin'] == 'Lebanon']
af32 = df.loc[df['Origin'] == 'State of Palestine']
af33 = df.loc[df['Origin'] == 'Pakistan']
af34 = df.loc[df['Origin'] == 'Iran']

predata_africa_middleEast = [af1, af2, af3, af4, af5, af6, af7, af8, af9, af10, 
                    af11, af12, af13, af14, af15, af16, af17, af18, af19, af20,
                    af21, af22, af23, af24, af25, af26, af27, af28, af29, af30, 
                    af31, af32, af33, af34]

africa_middleEast = pd.concat(predata_africa_middleEast)

# africa_middleEast.loc[africa_middleEast['Origin'] == 'Iran']

FileNotFoundError: File b'unhcr_popstats_export_asylum_seekers_monthly_all_data.csv' does not exist

In [44]:
# vervang steretjes door nullen en maak integers van strings
data_africa_middleEast = africa_middleEast.replace(['*'], 0)
new_values = [int(row) for row in data_africa_middleEast['Value']]

In [45]:
def month_converter(month):
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 
              'December']
    return (months.index(month))/12

In [46]:
# remove old string values
data_africa_middleEast = data_africa_middleEast[['Country of residence', 'Origin', 'Year','Month']]


#add integer values
data_africa_middleEast['Values'] = new_values

africa_middleEast

months = []
for row in data_africa_middleEast['Month']:
    months.append(str(row))

#print(months)
YearMonth = []

count = 0
for year in data_africa_middleEast['Year']:
    year = int(year) + month_converter(months[count])
    YearMonth.append(year)
    count += 1

data_africa_middleEast['YearMonth'] = YearMonth

In [47]:
data_africa_middleEast.loc[data_africa_middleEast['Origin'] == 'Iran']

,Country of residence,Origin,Year,Month,Values,YearMonth
260,Australia,Iran,1999,January,22,1999.000000
261,Australia,Iran,1999,February,22,1999.083333
262,Australia,Iran,1999,March,18,1999.166667
263,Australia,Iran,1999,April,19,1999.250000
264,Australia,Iran,1999,May,15,1999.333333
265,Australia,Iran,1999,June,17,1999.416667
266,Australia,Iran,1999,July,12,1999.500000
267,Australia,Iran,1999,August,10,1999.583333
268,Australia,Iran,1999,September,17,1999.666667
269,Australia,Iran,1999,October,20,1999.750000
270,Australia,Iran,1999,November,18,1999.833333
271,Australia,Iran,1999,December,21,1999.916667
1009,Austria,Iran,1999,January,120,1999.000000
1010,Austria,Iran,1999,February,62,1999.083333
1011,Austria,Iran,1999,March,161,1999.166667
1012,Austria,Iran,1999,April,130,1999.250000
1013,Austria,Iran,1999,May,180,1999.333333
1014,Austria,Iran,1999,June,302,1999.416667
1015,Austria,Iran,1999,July,362,1999.500000
1016,Austria,Iran,1999,August,380,1999.583333
1017,Austria,Iran,1999,September,437,1999.666667
1018,Austria,Iran,1999,October,380,1999.750000
1019,Austria,Iran,1999,November,463,1999.833333
1020,Austria,Iran,1999,December,366,1999.916667
1771,Belgium,Iran,1999,January,13,1999.000000
1772,Belgium,Iran,1999,February,6,1999.083333
1773,Belgium,Iran,1999,March,12,1999.166667
1774,Belgium,Iran,1999,April,6,1999.250000
1775,Belgium,Iran,1999,May,8,1999.333333
1776,Belgium,Iran,1999,June,10,1999.416667
...,...,...,...,...,...,...
328430,United Kingdom of Great Britain and Northern I...,Iran,2017,January,292,2017.000000
328431,United Kingdom of Great Britain and Northern I...,Iran,2017,March,292,2017.166667
329632,USA (EOIR),Iran,2016,January,5,2016.000000
329633,USA (EOIR),Iran,2016,February,8,2016.083333
329634,USA (EOIR),Iran,2016,March,7,2016.166667
329635,USA (EOIR),Iran,2016,April,6,2016.250000
329636,USA (EOIR),Iran,2016,June,7,2016.416667
329637,USA (EOIR),Iran,2016,August,8,2016.583333
329638,USA (EOIR),Iran,2016,September,5,2016.666667
329639,USA (EOIR),Iran,2016,October,6,2016.750000
329640,USA (EOIR),Iran,2016,December,6,2016.916667
329641,USA (EOIR),Iran,2017,January,5,2017.000000
329642,USA (EOIR),Iran,2017,February,11,2017.083333
330913,USA (INS/DHS),Iran,2016,January,94,2016.000000
330914,USA (INS/DHS),Iran,2016,February,74,2016.083333
330915,USA (INS/DHS),Iran,2016,March,79,2016.166667
330916,USA (INS/DHS),Iran,2016,April,90,2016.250000
330917,USA (INS/DHS),Iran,2016,May,59,2016.333333
330918,USA (INS/DHS),Iran,2016,June,85,2016.416667
330919,USA (INS/DHS),Iran,2016,July,71,2016.500000
330920,USA (INS/DHS),Iran,2016,August,74,2016.583333
330921,USA (INS/DHS),Iran,2016,September,57,2016.666667
330922,USA (INS/DHS),Iran,2016,October,71,2016.750000
330923,USA (INS/DHS),Iran,2016,November,85,2016.833333
330924,USA (INS/DHS),Iran,2016,December,86,2016.916667
330925,USA (INS/DHS),Iran,2017,January,72,2017.000000
330926,USA (INS/DHS),Iran,2017,February,84,2017.083333
330927,USA (INS/DHS),Iran,2017,March,70,2017.166667
330928,USA (INS/DHS),Iran,2017,April,47,2017.250000
330929,USA (INS/DHS),Iran,2017,May,78,2017.333333

In [52]:
print(os.getcwd())
os.chdir("../../")
os.chdir("datasets/preprocessed datasets/Migration movements")
print(os.getcwd())

C:\Users\Midas\Documents\GitHub\DataProcessing1
C:\Users\Midas\Documents\GitHub\DataProcessing1\datasets\preprocessed datasets\Migration movements

In [53]:
data_africa_middleEast[['Country of residence', 'Origin', 'YearMonth', 'Values']].to_csv('data_africa_middleEast.csv', index=False)

In [56]:
raw_data1 = pd.read_csv('refugees_africa_per_timestamp.csv')
df1 = pd.DataFrame(raw_data1)

df1

raw_data2 = pd.read_csv('refugees_middle_east_per_timestamp.csv')
df2 = pd.DataFrame(raw_data2)
df2


frames = [df1, df2]

result = pd.concat(frames)
result = result.sort_values(by=['Timestamp'])

result[['Origin', 'Timestamp', 'Value']].to_csv('data_africa_middleEast_per_timestamp.csv', index=False)